# Housing in Victoria - Data Wrangling

    
Environment: Python 3.8.5 and Anaconda 4.10.3 (64-bit)
    
Libraries used:
    
- geopandas 0.10.2 (for working with geospatial data (the provided shape files), included in Anaconda Python 3.8.5)
- pandas 1.1.3 (for creation and manipulation of dataframes, included in Anaconda Python 3.8.5)
- math (for making use of the methods provided to perform mathematical tasks, included in Anaconda Python 3.8.5)
- datetime (for manipulation of time, included in Anaconda Python 3.8.5)
- shapely.geometry 1.7.1 (for manipulation of planar features (Points, Polygons), included in Anaconda 3.8.5)
- requests 2.24.0 (for making HTTP requests via Python, included in Anaconda 3.8.5)
- bs4 (for pulling out data out of HTML and XML files, included in Anaconda 3.8.5)
- urllib.request (for fetching and opening URLs, included in Anaconda 3.8.5)
- json 2.0.9 (for working with JSON data, included in Anaconda 3.8.5)
- re 2.2.1 (for regular expressions, included in Anaconda 3.8.5)
- sklearn.preprocessing (for transforming features (scaling, for instance), included in Anaconda 3.8.5)
- matplotlib 3.3.2 (for data visualization, included in Anaconda 3.8.5)

## 1. Introduction
This assessment comprises of the following tasks:
1. Data integration - Integrating data and datasets from various sources into a single dataset that matches the required schema.
2. Detection and correction of any possible issues resulted due to the integration tasks performed in the above step.

The following sections give a detailed explanation of this process.

## 2. Importing Libraries

Importing all the required libraries to carry out the outlined tasks.

In [1]:
import geopandas as gpd
import pandas as pd
import math
from datetime import timedelta
from shapely.geometry import Point
import requests
from bs4 import BeautifulSoup
from urllib.request import urlopen
import json
from pandas import json_normalize
import re
from sklearn import preprocessing
import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\Umasree\anaconda3\lib\site-packages\geopandas\_compat.py:111: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.1-CAPI-1.14.2). Conversions between both will be slow.
  warnings.warn(

## 3. Task: Data Integration

The following sections give a detailed explanation of the steps carried out in this task.

### 3.1 Creation of Dataframe

#### 3.1.1 XML file

This step includes the parsing of the given XML file and then storing the retrived data in a dataframe.

First, using file methods, the file will be opened (using '`open()`' method), its contents will be read (using '`readlines()`' method) and stored in a list ('`xml_content`').

Since an XML file requires a single root element (and therefore is the parent element to all the other elements), we'll add that as it is missing in the given file.
The root and its corresponding closing tag will be: '`<properties>`' and '`</properties>`'
The root needs to be the first element, hence this will be inserted at index '0' and the closing tag will be appended to the end of the list.

Also, any '`&`' will be replaced with '`&amp;`'.

Once these necessary changes have been made, the contents will be written to a file, which will then be used later for parsing.

In [2]:
xml_input = open("31363660.xml", "r")

xml_content = xml_input.readlines()
xml_input.close()

xml_content

['<property>\n',
 '  <property_id>91099</property_id>\n',
 '  <lat>-37.95640182</lat>\n',
 '  <lng>145.0725403</lng>\n',
 '  <addr_street>99 Herald Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>65182</property_id>\n',
 '  <lat>-37.80659</lat>\n',
 '  <lng>145.317902</lng>\n',
 '  <addr_street>18 Kilsyth Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>17661</property_id>\n',
 '  <lat>-37.698942</lat>\n',
 '  <lng>144.909829</lng>\n',
 '  <addr_street>73 AUGUSTINE TERRACE</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>46534</property_id>\n',
 '  <lat>-37.70618</lat>\n',
 '  <lng>145.139217</lng>\n',
 '  <addr_street>125 Ryans Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>87356</property_id>\n',
 '  <lat>-37.939583</lat>\n',
 '  <lng>145.014479</lng>\n',
 '  <addr_street>133 Thomas Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>59265</property_id>\n',
 '  <lat>-37.808718</lat>\n',
 '  <lng>145.205185</lng>\n',
 '  <addr_street>1/64 Wattle Valley Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>69035</property_id>\n',
 '  <lat>-37.864901</lat>\n',
 '  <lng>145.02936200000005</lng>\n',
 '  <addr_street>3 Chandlers Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>50105</property_id>\n',
 '  <lat>-37.778497</lat>\n',
 '  <lng>145.094574</lng>\n',
 '  <addr_street>28 Kenneth Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>38091</property_id>\n',
 '  <lat>-37.780547</lat>\n',
 '  <lng>145.024517</lng>\n',
 '  <addr_street>2/1 Hamilton Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>70208</property_id>\n',
 '  <lat>-37.863191</lat>\n',
 '  <lng>145.10206100000005</lng>\n',
 '  <addr_street>6 Clearview Close</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>2470</property_id>\n',
 '  <lat>-37.807062</lat>\n',
 '  <lng>144.883947</lng>\n',
 '  <addr_street>71 Queensville Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>48440</property_id>\n',
 '  <lat>-37.81665421</lat>\n',
 '  <lng>145.0549622</lng>\n',
 '  <addr_street>409 Barkers Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>13133</property_id>\n',
 '  <lat>-37.691221</lat>\n',
 '  <lng>144.758318</lng>\n',
 '  <addr_street>4/5 Argyll Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>60803</property_id>\n',
 '  <lat>-37.840439</lat>\n',
 '  <lng>145.20048400000005</lng>\n',
 '  <addr_street>5 Morack Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>95752</property_id>\n',
 '  <lat>-37.90964508</lat>\n',
 '  <lng>145.03753659999995</lng>\n',
 '  <addr_street>4/11 Glen Orme Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>75550</property_id>\n',
 '  <lat>-37.896205</lat>\n',
 '  <lng>145.104063</lng>\n',
 '  <addr_street>1/1 Leroux Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>24885</property_id>\n',
 '  <lat>-37.59608841</lat>\n',
 '  <lng>144.9391785</lng>\n',
 '  <addr_street>1 Hilton Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>40088</property_id>\n',
 '  <lat>-37.696907</lat>\n',
 '  <lng>145.041224</lng>\n',
 '  <addr_street>22 Neilsen Crescent</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>15144</property_id>\n',
 '  <lat>-37.741297</lat>\n',
 '  <lng>144.92434699999995</lng>\n',
 '  <addr_street>25  Upland Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>68976</property_id>\n',
 '  <lat>-37.8688142</lat>\n',
 '  <lng>145.0348448</lng>\n',
 '  <addr_street>25 Johnstone Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>19764</property_id>\n',
 '  <lat>-37.67531586</lat>\n',
 '  <lng>144.8999481</lng>\n',
 '  <addr_street>5 Linga Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>38633</property_id>\n',
 '  <lat>-37.765635</lat>\n',
 '  <lng>145.04126000000005</lng>\n',
 '  <addr_street>15 Green Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>79205</property_id>\n',
 '  <lat>-37.951287</lat>\n',
 '  <lng>145.144405</lng>\n',
 '  <addr_street>54 Windsor Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>15610</property_id>\n',
 '  <lat>-37.74698400000001</lat>\n',
 '  <lng>144.881642</lng>\n',
 '  <addr_street>21 Rose Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>25853</property_id>\n',
 '  <lat>-37.59354019</lat>\n',
 '  <lng>144.9346314</lng>\n',
 '  <addr_street>2 Southern Crescent</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>21526</property_id>\n',
 '  <lat>-37.77445602</lat>\n',
 '  <lng>144.9701233</lng>\n',
 '  <addr_street>73 Cocoa Jackson Lane</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>57111</property_id>\n',
 '  <lat>-37.819244</lat>\n',
 '  <lng>145.086573</lng>\n',
 '  <addr_street>196 Mont Albert Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>78270</property_id>\n',
 '  <lat>-37.932324</lat>\n',
 '  <lng>145.165244</lng>\n',
 '  <addr_street>62 Glencairn Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>49932</property_id>\n',
 '  <lat>-37.777346</lat>\n',
 '  <lng>145.093559</lng>\n',
 '  <addr_street>15 Moresby Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>75625</property_id>\n',
 '  <lat>-37.90504</lat>\n',
 '  <lng>145.088763</lng>\n',
 '  <addr_street>11 Eastgate Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>759</property_id>\n',
 '  <lat>-37.807704</lat>\n',
 '  <lng>144.897828</lng>\n',
 '  <addr_street>274 Nicholson Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>32508</property_id>\n',
 '  <lat>-37.735553</lat>\n',
 '  <lng>145.029503</lng>\n',
 '  <addr_street>29 Holly Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>29767</property_id>\n',
 '  <lat>-37.763698</lat>\n',
 '  <lng>145.001735</lng>\n',
 '  <addr_street>24 Darebin Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>93390</property_id>\n',
 '  <lat>-37.99525833</lat>\n',
 '  <lng>145.095459</lng>\n',
 '  <addr_street>46 Brownfield Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>8976</property_id>\n',
 '  <lat>-37.878617</lat>\n',
 '  <lng>144.75433</lng>\n',
 '  <addr_street>21 Ann Place</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>14169</property_id>\n',
 '  <lat>-37.75703</lat>\n',
 '  <lng>144.895856</lng>\n',
 '  <addr_street>26A Fawkner Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>43493</property_id>\n',
 '  <lat>-37.71706009</lat>\n',
 '  <lng>145.090683</lng>\n',
 '  <addr_street>15 Gabonia Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>45439</property_id>\n',
 '  <lat>-37.694648</lat>\n',
 '  <lng>145.113181</lng>\n',
 '  <addr_street>7 Pembroke Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>79285</property_id>\n',
 '  <lat>-37.953226</lat>\n',
 '  <lng>145.141767</lng>\n',
 '  <addr_street>64 Ellen Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>48327</property_id>\n',
 '  <lat>-37.813898</lat>\n',
 '  <lng>145.042594</lng>\n',
 '  <addr_street>34 Edgevale Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>47404</property_id>\n',
 '  <lat>-37.713848</lat>\n',
 '  <lng>145.165302</lng>\n',
 '  <addr_street>63 Eucalyptus Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>23816</property_id>\n',
 '  <lat>-37.646278</lat>\n',
 '  <lng>144.89562</lng>\n',
 '  <addr_street>9 Berwick Place</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>10556</property_id>\n',
 '  <lat>-37.797076</lat>\n',
 '  <lng>144.929499</lng>\n',
 '  <addr_street>42 Ormond Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>3637</property_id>\n',
 '  <lat>-37.821441</lat>\n',
 '  <lng>144.896694</lng>\n',
 '  <addr_street>5 Taylor Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>53095</property_id>\n',
 '  <lat>-37.81715</lat>\n',
 '  <lng>144.995935</lng>\n',
 '  <addr_street>34 Thomas Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>7970</property_id>\n',
 '  <lat>-37.760682</lat>\n',
 '  <lng>144.792949</lng>\n',
 '  <addr_street>1 Greenstead Way</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>87135</property_id>\n',
 '  <lat>-37.907186</lat>\n',
 '  <lng>144.986206</lng>\n',
 '  <addr_street>8/10 Sandown Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>93475</property_id>\n',
 '  <lat>-37.98724747</lat>\n',
 '  <lng>145.0868073</lng>\n',
 '  <addr_street>52 Robert Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>36762</property_id>\n',
 '  <lat>-37.643096</lat>\n',
 '  <lng>145.05122</lng>\n',
 '  <addr_street>111 Derby Drive</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>16121</property_id>\n',
 '  <lat>-37.699287</lat>\n',
 '  <lng>144.901223</lng>\n',
 '  <addr_street>63 Marigold Crescent</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>46464</property_id>\n',
 '  <lat>-37.709284</lat>\n',
 '  <lng>145.149549</lng>\n',
 '  <addr_street>1108 Main Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>5213</property_id>\n',
 '  <lat>-37.864139</lat>\n',
 '  <lng>144.823887</lng>\n',
 '  <addr_street>45 Upton Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>34607</property_id>\n',
 '  <lat>-37.728507</lat>\n',
 '  <lng>145.035976</lng>\n',
 '  <addr_street>3 Nisbett Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>79305</property_id>\n',
 '  <lat>-37.958879</lat>\n',
 '  <lng>145.156803</lng>\n',
 '  <addr_street>68 View Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>64597</property_id>\n',
 '  <lat>-37.781396</lat>\n',
 '  <lng>145.294975</lng>\n',
 '  <addr_street>5 Parsons Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>36730</property_id>\n',
 '  <lat>-37.649316</lat>\n',
 '  <lng>145.057636</lng>\n',
 '  <addr_street>11 Bluebell Drive</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>20500</property_id>\n',
 '  <lat>-37.775507</lat>\n',
 '  <lng>144.950843</lng>\n',
 '  <addr_street>13B Heller Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>30713</property_id>\n',
 '  <lat>-37.756802</lat>\n',
 '  <lng>144.989802</lng>\n',
 '  <addr_street>137 Smith Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>85776</property_id>\n',
 '  <lat>-37.885141</lat>\n',
 '  <lng>145.014748</lng>\n',
 '  <addr_street>62 Murray Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>82100</property_id>\n',
 '  <lat>-37.992625</lat>\n',
 '  <lng>145.233105</lng>\n',
 '  <addr_street>31 Chestnut Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>44948</property_id>\n',
 '  <lat>-37.695965</lat>\n',
 '  <lng>145.09642</lng>\n',
 '  <addr_street>35 Pinehills Drive</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>89119</property_id>\n',
 '  <lat>-37.952899</lat>\n',
 '  <lng>145.010735</lng>\n',
 '  <addr_street>102 Bay Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>30439</property_id>\n',
 '  <lat>-37.766314</lat>\n',
 '  <lng>144.99383899999995</lng>\n',
 '  <addr_street>81 Beavers Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>75542</property_id>\n',
 '  <lat>-37.905309</lat>\n',
 '  <lng>145.110513</lng>\n',
 '  <addr_street>1 Fenton Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>23495</property_id>\n',
 '  <lat>-37.648823</lat>\n',
 '  <lng>144.899566</lng>\n',
 '  <addr_street>20 Aberdeen Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>93258</property_id>\n',
 '  <lat>-37.986333</lat>\n',
 '  <lng>145.0743</lng>\n',
 '  <addr_street>35 Fourth Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>13596</property_id>\n',
 '  <lat>-37.700981</lat>\n',
 '  <lng>144.74778500000005</lng>\n',
 '  <addr_street>92 Brindalee Way</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>18395</property_id>\n',
 '  <lat>-37.685956</lat>\n',
 '  <lng>144.935152</lng>\n',
 '  <addr_street>2 Stanhope Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>24367</property_id>\n',
 '  <lat>-37.69377518</lat>\n',
 '  <lng>144.9596558</lng>\n',
 '  <addr_street>37A Palmer Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>11364</property_id>\n',
 '  <lat>-37.7745</lat>\n',
 '  <lng>144.88061499999995</lng>\n',
 '  <addr_street>31 Cavalry Circuit</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>71327</property_id>\n',
 '  <lat>-37.859786</lat>\n',
 '  <lng>145.231067</lng>\n',
 '  <addr_street>24 Saxon Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>76975</property_id>\n',
 '  <lat>-37.924452</lat>\n',
 '  <lng>145.126401</lng>\n',
 '  <addr_street>70 Browns Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>41642</property_id>\n',
 '  <lat>-37.738573</lat>\n',
 '  <lng>145.077972</lng>\n',
 '  <addr_street>15 Maleela Grove</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>51990</property_id>\n',
 '  <lat>-37.801718</lat>\n',
 '  <lng>145.182355</lng>\n',
 '  <addr_street>7 William Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>57261</property_id>\n',
 '  <lat>-37.819455</lat>\n',
 '  <lng>145.07578600000005</lng>\n',
 '  <addr_street>33 Victoria Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>2703</property_id>\n',
 '  <lat>-37.819013</lat>\n',
 '  <lng>144.887535</lng>\n',
 '  <addr_street>11 Gladstone Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>68102</property_id>\n',
 '  <lat>-37.842381</lat>\n',
 '  <lng>145.009455</lng>\n',
 '  <addr_street>43 Ross Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>6481</property_id>\n',
 '  <lat>-37.789611</lat>\n',
 '  <lng>144.822895</lng>\n',
 '  <addr_street>24 Armstrong Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>87040</property_id>\n',
 '  <lat>-37.902767</lat>\n',
 '  <lng>144.99453400000004</lng>\n',
 '  <addr_street>7 Tovell Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>51793</property_id>\n',
 '  <lat>-37.802738</lat>\n',
 '  <lng>145.192647</lng>\n',
 '  <addr_street>14 Lisbeth Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>63854</property_id>\n',
 '  <lat>-37.790945</lat>\n',
 '  <lng>145.285853</lng>\n',
 '  <addr_street>2/29 Kitchener Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>43784</property_id>\n',
 '  <lat>-37.707485</lat>\n',
 '  <lng>145.076785</lng>\n',
 '  <addr_street>42 Ladd Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>63879</property_id>\n',
 '  <lat>-37.810552</lat>\n',
 '  <lng>145.289549</lng>\n',
 '  <addr_street>2/7 Barclay Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>73820</property_id>\n',
 '  <lat>-37.855727</lat>\n',
 '  <lng>145.275081</lng>\n',
 '  <addr_street>53 Rowson Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>95403</property_id>\n',
 '  <lat>-37.909056</lat>\n',
 '  <lng>145.042974</lng>\n',
 '  <addr_street>283 Jasper Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>818</property_id>\n',
 '  <lat>-37.79469681</lat>\n',
 '  <lng>144.8864899</lng>\n',
 '  <addr_street>3 Southampton Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>56296</property_id>\n',
 '  <lat>-37.860291</lat>\n',
 '  <lng>145.10745</lng>\n',
 '  <addr_street>19 Arthur Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>9434</property_id>\n',
 '  <lat>-37.852086</lat>\n',
 '  <lng>144.717749</lng>\n',
 '  <addr_street>257 Sayers Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>84560</property_id>\n',
 '  <lat>-37.879615</lat>\n',
 '  <lng>144.981194</lng>\n',
 '  <addr_street>100 Ruskin Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>54821</property_id>\n',
 '  <lat>-37.846194</lat>\n',
 '  <lng>145.07757</lng>\n',
 '  <addr_street>1 Lodge Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>35627</property_id>\n',
 '  <lat>-37.72884369</lat>\n',
 '  <lng>145.00187680000005</lng>\n',
 '  <addr_street>8 Stewart Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>38491</property_id>\n',
 '  <lat>-37.762551</lat>\n',
 '  <lng>145.04713</lng>\n',
 '  <addr_street>1 Oxford Court</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>36545</property_id>\n',
 '  <lat>-37.67028300000001</lat>\n',
 '  <lng>145.033261</lng>\n',
 '  <addr_street>7 Bunting Court</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>96047</property_id>\n',
 '  <lat>-37.916546</lat>\n',
 '  <lng>145.043119</lng>\n',
 '  <addr_street>6 Seaview Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>65700</property_id>\n',
 '  <lat>-37.78308487</lat>\n',
 '  <lng>145.30749509999995</lng>\n',
 '  <addr_street>11a Kathy Court</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>95799</property_id>\n',
 '  <lat>-37.91477</lat>\n',
 '  <lng>145.046968</lng>\n',
 '  <addr_street>43 Wavell Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>19210</property_id>\n',
 '  <lat>-37.673485</lat>\n',
 '  <lng>144.92038300000004</lng>\n',
 '  <addr_street>8 Nathalia Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>5388</property_id>\n',
 '  <lat>-37.857191</lat>\n',
 '  <lng>144.819274</lng>\n',
 '  <addr_street>Lot 137 Grieve Parade</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>45900</property_id>\n',
 '  <lat>-37.711862</lat>\n',
 '  <lng>145.127353</lng>\n',
 '  <addr_street>19 Meadow Crescent</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>38837</property_id>\n',
 '  <lat>-37.76725</lat>\n',
 '  <lng>145.0393</lng>\n',
 '  <addr_street>33 Livingstone Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>58124</property_id>\n',
 '  <lat>-37.830562</lat>\n',
 '  <lng>145.140043</lng>\n',
 '  <addr_street>43 Canterbury Road</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>1389</property_id>\n',
 '  <lat>-37.804742</lat>\n',
 '  <lng>144.890951</lng>\n',
 '  <addr_street>70 Windsor Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>37145</property_id>\n',
 '  <lat>-37.636785</lat>\n',
 '  <lng>145.039518</lng>\n',
 '  <addr_street>25 Saunders Crescent</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>85883</property_id>\n',
 '  <lat>-37.9203</lat>\n',
 '  <lng>144.996623</lng>\n',
 '  <addr_street>1 Butler Street</addr_street>\n',
 '</property>\n',
 '<property>\n',
 '  <property_id>92082</property_id>\n',
 '  <lat>-37.985135</lat>\n',
 '  <lng>145.056975</lng>\n',
 '  <addr_street>2 Cochrane Avenue</addr_street>\n',
 '</property>\n',
 '<property>\n',

In [3]:
xml_content.append("\n</properties>")
xml_content.insert(0, '<properties>\n')

In [4]:
#looping over the list and replacing the '&' with '&amp;' (if present)
for idx in range(len(xml_content)):
    if "&" in xml_content[idx]:
        xml_content[idx] = xml_content[idx].replace("&", "&amp;")

In [5]:
xml_output = open("31363660.xml", "w")

for line in xml_content:
    xml_output.write(line)
    
xml_output.close()

Using BeautifulSoup, the XML file contents will be extracted.

A BeautifulSoup object '`btree`' will be created.

In [6]:
btree = BeautifulSoup(open("31363660.xml"), "lxml-xml")  #BeautifulSoup object creation
print(btree.prettify())

<?xml version="1.0" encoding="utf-8"?>
<properties>
 <property>
  <property_id>
   91099
  </property_id>
  <lat>
   -37.95640182
  </lat>
  <lng>
   145.0725403
  </lng>
  <addr_street>
   99 Herald Street
  </addr_street>
 </property>
 <property>
  <property_id>
   65182
  </property_id>
  <lat>
   -37.80659
  </lat>
  <lng>
   145.317902
  </lng>
  <addr_street>
   18 Kilsyth Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   17661
  </property_id>
  <lat>
   -37.698942
  </lat>
  <lng>
   144.909829
  </lng>
  <addr_street>
   73 AUGUSTINE TERRACE
  </addr_street>
 </property>
 <property>
  <property_id>
   46534
  </property_id>
  <lat>
   -37.70618
  </lat>
  <lng>
   145.139217
  </lng>
  <addr_street>
   125 Ryans Road
  </addr_street>
 </property>
 <property>
  <property_id>
   87356
  </property_id>
  <lat>
   -37.939583
  </lat>
  <lng>
   145.014479
  </lng>
  <addr_street>
   133 Thomas Street
  </addr_street>
 </property>
 <property>
  <property_id>
   59265
  </property_id>
  <lat>
   -37.808718
  </lat>
  <lng>
   145.205185
  </lng>
  <addr_street>
   1/64 Wattle Valley Road
  </addr_street>
 </property>
 <property>
  <property_id>
   69035
  </property_id>
  <lat>
   -37.864901
  </lat>
  <lng>
   145.02936200000005
  </lng>
  <addr_street>
   3 Chandlers Road
  </addr_street>
 </property>
 <property>
  <property_id>
   50105
  </property_id>
  <lat>
   -37.778497
  </lat>
  <lng>
   145.094574
  </lng>
  <addr_street>
   28 Kenneth Street
  </addr_street>
 </property>
 <property>
  <property_id>
   38091
  </property_id>
  <lat>
   -37.780547
  </lat>
  <lng>
   145.024517
  </lng>
  <addr_street>
   2/1 Hamilton Street
  </addr_street>
 </property>
 <property>
  <property_id>
   70208
  </property_id>
  <lat>
   -37.863191
  </lat>
  <lng>
   145.10206100000005
  </lng>
  <addr_street>
   6 Clearview Close
  </addr_street>
 </property>
 <property>
  <property_id>
   2470
  </property_id>
  <lat>
   -37.807062
  </lat>
  <lng>
   144.883947
  </lng>
  <addr_street>
   71 Queensville Street
  </addr_street>
 </property>
 <property>
  <property_id>
   48440
  </property_id>
  <lat>
   -37.81665421
  </lat>
  <lng>
   145.0549622
  </lng>
  <addr_street>
   409 Barkers Road
  </addr_street>
 </property>
 <property>
  <property_id>
   13133
  </property_id>
  <lat>
   -37.691221
  </lat>
  <lng>
   144.758318
  </lng>
  <addr_street>
   4/5 Argyll Street
  </addr_street>
 </property>
 <property>
  <property_id>
   60803
  </property_id>
  <lat>
   -37.840439
  </lat>
  <lng>
   145.20048400000005
  </lng>
  <addr_street>
   5 Morack Road
  </addr_street>
 </property>
 <property>
  <property_id>
   95752
  </property_id>
  <lat>
   -37.90964508
  </lat>
  <lng>
   145.03753659999995
  </lng>
  <addr_street>
   4/11 Glen Orme Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   75550
  </property_id>
  <lat>
   -37.896205
  </lat>
  <lng>
   145.104063
  </lng>
  <addr_street>
   1/1 Leroux Street
  </addr_street>
 </property>
 <property>
  <property_id>
   24885
  </property_id>
  <lat>
   -37.59608841
  </lat>
  <lng>
   144.9391785
  </lng>
  <addr_street>
   1 Hilton Street
  </addr_street>
 </property>
 <property>
  <property_id>
   40088
  </property_id>
  <lat>
   -37.696907
  </lat>
  <lng>
   145.041224
  </lng>
  <addr_street>
   22 Neilsen Crescent
  </addr_street>
 </property>
 <property>
  <property_id>
   15144
  </property_id>
  <lat>
   -37.741297
  </lat>
  <lng>
   144.92434699999995
  </lng>
  <addr_street>
   25  Upland Road
  </addr_street>
 </property>
 <property>
  <property_id>
   68976
  </property_id>
  <lat>
   -37.8688142
  </lat>
  <lng>
   145.0348448
  </lng>
  <addr_street>
   25 Johnstone Street
  </addr_street>
 </property>
 <property>
  <property_id>
   19764
  </property_id>
  <lat>
   -37.67531586
  </lat>
  <lng>
   144.8999481
  </lng>
  <addr_street>
   5 Linga Street
  </addr_street>
 </property>
 <property>
  <property_id>
   38633
  </property_id>
  <lat>
   -37.765635
  </lat>
  <lng>
   145.04126000000005
  </lng>
  <addr_street>
   15 Green Street
  </addr_street>
 </property>
 <property>
  <property_id>
   79205
  </property_id>
  <lat>
   -37.951287
  </lat>
  <lng>
   145.144405
  </lng>
  <addr_street>
   54 Windsor Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   15610
  </property_id>
  <lat>
   -37.74698400000001
  </lat>
  <lng>
   144.881642
  </lng>
  <addr_street>
   21 Rose Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   25853
  </property_id>
  <lat>
   -37.59354019
  </lat>
  <lng>
   144.9346314
  </lng>
  <addr_street>
   2 Southern Crescent
  </addr_street>
 </property>
 <property>
  <property_id>
   21526
  </property_id>
  <lat>
   -37.77445602
  </lat>
  <lng>
   144.9701233
  </lng>
  <addr_street>
   73 Cocoa Jackson Lane
  </addr_street>
 </property>
 <property>
  <property_id>
   57111
  </property_id>
  <lat>
   -37.819244
  </lat>
  <lng>
   145.086573
  </lng>
  <addr_street>
   196 Mont Albert Road
  </addr_street>
 </property>
 <property>
  <property_id>
   78270
  </property_id>
  <lat>
   -37.932324
  </lat>
  <lng>
   145.165244
  </lng>
  <addr_street>
   62 Glencairn Street
  </addr_street>
 </property>
 <property>
  <property_id>
   49932
  </property_id>
  <lat>
   -37.777346
  </lat>
  <lng>
   145.093559
  </lng>
  <addr_street>
   15 Moresby Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   75625
  </property_id>
  <lat>
   -37.90504
  </lat>
  <lng>
   145.088763
  </lng>
  <addr_street>
   11 Eastgate Street
  </addr_street>
 </property>
 <property>
  <property_id>
   759
  </property_id>
  <lat>
   -37.807704
  </lat>
  <lng>
   144.897828
  </lng>
  <addr_street>
   274 Nicholson Street
  </addr_street>
 </property>
 <property>
  <property_id>
   32508
  </property_id>
  <lat>
   -37.735553
  </lat>
  <lng>
   145.029503
  </lng>
  <addr_street>
   29 Holly Street
  </addr_street>
 </property>
 <property>
  <property_id>
   29767
  </property_id>
  <lat>
   -37.763698
  </lat>
  <lng>
   145.001735
  </lng>
  <addr_street>
   24 Darebin Road
  </addr_street>
 </property>
 <property>
  <property_id>
   93390
  </property_id>
  <lat>
   -37.99525833
  </lat>
  <lng>
   145.095459
  </lng>
  <addr_street>
   46 Brownfield Street
  </addr_street>
 </property>
 <property>
  <property_id>
   8976
  </property_id>
  <lat>
   -37.878617
  </lat>
  <lng>
   144.75433
  </lng>
  <addr_street>
   21 Ann Place
  </addr_street>
 </property>
 <property>
  <property_id>
   14169
  </property_id>
  <lat>
   -37.75703
  </lat>
  <lng>
   144.895856
  </lng>
  <addr_street>
   26A Fawkner Street
  </addr_street>
 </property>
 <property>
  <property_id>
   43493
  </property_id>
  <lat>
   -37.71706009
  </lat>
  <lng>
   145.090683
  </lng>
  <addr_street>
   15 Gabonia Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   45439
  </property_id>
  <lat>
   -37.694648
  </lat>
  <lng>
   145.113181
  </lng>
  <addr_street>
   7 Pembroke Street
  </addr_street>
 </property>
 <property>
  <property_id>
   79285
  </property_id>
  <lat>
   -37.953226
  </lat>
  <lng>
   145.141767
  </lng>
  <addr_street>
   64 Ellen Street
  </addr_street>
 </property>
 <property>
  <property_id>
   48327
  </property_id>
  <lat>
   -37.813898
  </lat>
  <lng>
   145.042594
  </lng>
  <addr_street>
   34 Edgevale Road
  </addr_street>
 </property>
 <property>
  <property_id>
   47404
  </property_id>
  <lat>
   -37.713848
  </lat>
  <lng>
   145.165302
  </lng>
  <addr_street>
   63 Eucalyptus Road
  </addr_street>
 </property>
 <property>
  <property_id>
   23816
  </property_id>
  <lat>
   -37.646278
  </lat>
  <lng>
   144.89562
  </lng>
  <addr_street>
   9 Berwick Place
  </addr_street>
 </property>
 <property>
  <property_id>
   10556
  </property_id>
  <lat>
   -37.797076
  </lat>
  <lng>
   144.929499
  </lng>
  <addr_street>
   42 Ormond Street
  </addr_street>
 </property>
 <property>
  <property_id>
   3637
  </property_id>
  <lat>
   -37.821441
  </lat>
  <lng>
   144.896694
  </lng>
  <addr_street>
   5 Taylor Street
  </addr_street>
 </property>
 <property>
  <property_id>
   53095
  </property_id>
  <lat>
   -37.81715
  </lat>
  <lng>
   144.995935
  </lng>
  <addr_street>
   34 Thomas Street
  </addr_street>
 </property>
 <property>
  <property_id>
   7970
  </property_id>
  <lat>
   -37.760682
  </lat>
  <lng>
   144.792949
  </lng>
  <addr_street>
   1 Greenstead Way
  </addr_street>
 </property>
 <property>
  <property_id>
   87135
  </property_id>
  <lat>
   -37.907186
  </lat>
  <lng>
   144.986206
  </lng>
  <addr_street>
   8/10 Sandown Street
  </addr_street>
 </property>
 <property>
  <property_id>
   93475
  </property_id>
  <lat>
   -37.98724747
  </lat>
  <lng>
   145.0868073
  </lng>
  <addr_street>
   52 Robert Street
  </addr_street>
 </property>
 <property>
  <property_id>
   36762
  </property_id>
  <lat>
   -37.643096
  </lat>
  <lng>
   145.05122
  </lng>
  <addr_street>
   111 Derby Drive
  </addr_street>
 </property>
 <property>
  <property_id>
   16121
  </property_id>
  <lat>
   -37.699287
  </lat>
  <lng>
   144.901223
  </lng>
  <addr_street>
   63 Marigold Crescent
  </addr_street>
 </property>
 <property>
  <property_id>
   46464
  </property_id>
  <lat>
   -37.709284
  </lat>
  <lng>
   145.149549
  </lng>
  <addr_street>
   1108 Main Road
  </addr_street>
 </property>
 <property>
  <property_id>
   5213
  </property_id>
  <lat>
   -37.864139
  </lat>
  <lng>
   144.823887
  </lng>
  <addr_street>
   45 Upton Street
  </addr_street>
 </property>
 <property>
  <property_id>
   34607
  </property_id>
  <lat>
   -37.728507
  </lat>
  <lng>
   145.035976
  </lng>
  <addr_street>
   3 Nisbett Street
  </addr_street>
 </property>
 <property>
  <property_id>
   79305
  </property_id>
  <lat>
   -37.958879
  </lat>
  <lng>
   145.156803
  </lng>
  <addr_street>
   68 View Road
  </addr_street>
 </property>
 <property>
  <property_id>
   64597
  </property_id>
  <lat>
   -37.781396
  </lat>
  <lng>
   145.294975
  </lng>
  <addr_street>
   5 Parsons Street
  </addr_street>
 </property>
 <property>
  <property_id>
   36730
  </property_id>
  <lat>
   -37.649316
  </lat>
  <lng>
   145.057636
  </lng>
  <addr_street>
   11 Bluebell Drive
  </addr_street>
 </property>
 <property>
  <property_id>
   20500
  </property_id>
  <lat>
   -37.775507
  </lat>
  <lng>
   144.950843
  </lng>
  <addr_street>
   13B Heller Street
  </addr_street>
 </property>
 <property>
  <property_id>
   30713
  </property_id>
  <lat>
   -37.756802
  </lat>
  <lng>
   144.989802
  </lng>
  <addr_street>
   137 Smith Street
  </addr_street>
 </property>
 <property>
  <property_id>
   85776
  </property_id>
  <lat>
   -37.885141
  </lat>
  <lng>
   145.014748
  </lng>
  <addr_street>
   62 Murray Street
  </addr_street>
 </property>
 <property>
  <property_id>
   82100
  </property_id>
  <lat>
   -37.992625
  </lat>
  <lng>
   145.233105
  </lng>
  <addr_street>
   31 Chestnut Road
  </addr_street>
 </property>
 <property>
  <property_id>
   44948
  </property_id>
  <lat>
   -37.695965
  </lat>
  <lng>
   145.09642
  </lng>
  <addr_street>
   35 Pinehills Drive
  </addr_street>
 </property>
 <property>
  <property_id>
   89119
  </property_id>
  <lat>
   -37.952899
  </lat>
  <lng>
   145.010735
  </lng>
  <addr_street>
   102 Bay Road
  </addr_street>
 </property>
 <property>
  <property_id>
   30439
  </property_id>
  <lat>
   -37.766314
  </lat>
  <lng>
   144.99383899999995
  </lng>
  <addr_street>
   81 Beavers Road
  </addr_street>
 </property>
 <property>
  <property_id>
   75542
  </property_id>
  <lat>
   -37.905309
  </lat>
  <lng>
   145.110513
  </lng>
  <addr_street>
   1 Fenton Street
  </addr_street>
 </property>
 <property>
  <property_id>
   23495
  </property_id>
  <lat>
   -37.648823
  </lat>
  <lng>
   144.899566
  </lng>
  <addr_street>
   20 Aberdeen Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   93258
  </property_id>
  <lat>
   -37.986333
  </lat>
  <lng>
   145.0743
  </lng>
  <addr_street>
   35 Fourth Street
  </addr_street>
 </property>
 <property>
  <property_id>
   13596
  </property_id>
  <lat>
   -37.700981
  </lat>
  <lng>
   144.74778500000005
  </lng>
  <addr_street>
   92 Brindalee Way
  </addr_street>
 </property>
 <property>
  <property_id>
   18395
  </property_id>
  <lat>
   -37.685956
  </lat>
  <lng>
   144.935152
  </lng>
  <addr_street>
   2 Stanhope Street
  </addr_street>
 </property>
 <property>
  <property_id>
   24367
  </property_id>
  <lat>
   -37.69377518
  </lat>
  <lng>
   144.9596558
  </lng>
  <addr_street>
   37A Palmer Street
  </addr_street>
 </property>
 <property>
  <property_id>
   11364
  </property_id>
  <lat>
   -37.7745
  </lat>
  <lng>
   144.88061499999995
  </lng>
  <addr_street>
   31 Cavalry Circuit
  </addr_street>
 </property>
 <property>
  <property_id>
   71327
  </property_id>
  <lat>
   -37.859786
  </lat>
  <lng>
   145.231067
  </lng>
  <addr_street>
   24 Saxon Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   76975
  </property_id>
  <lat>
   -37.924452
  </lat>
  <lng>
   145.126401
  </lng>
  <addr_street>
   70 Browns Road
  </addr_street>
 </property>
 <property>
  <property_id>
   41642
  </property_id>
  <lat>
   -37.738573
  </lat>
  <lng>
   145.077972
  </lng>
  <addr_street>
   15 Maleela Grove
  </addr_street>
 </property>
 <property>
  <property_id>
   51990
  </property_id>
  <lat>
   -37.801718
  </lat>
  <lng>
   145.182355
  </lng>
  <addr_street>
   7 William Street
  </addr_street>
 </property>
 <property>
  <property_id>
   57261
  </property_id>
  <lat>
   -37.819455
  </lat>
  <lng>
   145.07578600000005
  </lng>
  <addr_street>
   33 Victoria Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   2703
  </property_id>
  <lat>
   -37.819013
  </lat>
  <lng>
   144.887535
  </lng>
  <addr_street>
   11 Gladstone Street
  </addr_street>
 </property>
 <property>
  <property_id>
   68102
  </property_id>
  <lat>
   -37.842381
  </lat>
  <lng>
   145.009455
  </lng>
  <addr_street>
   43 Ross Street
  </addr_street>
 </property>
 <property>
  <property_id>
   6481
  </property_id>
  <lat>
   -37.789611
  </lat>
  <lng>
   144.822895
  </lng>
  <addr_street>
   24 Armstrong Street
  </addr_street>
 </property>
 <property>
  <property_id>
   87040
  </property_id>
  <lat>
   -37.902767
  </lat>
  <lng>
   144.99453400000004
  </lng>
  <addr_street>
   7 Tovell Street
  </addr_street>
 </property>
 <property>
  <property_id>
   51793
  </property_id>
  <lat>
   -37.802738
  </lat>
  <lng>
   145.192647
  </lng>
  <addr_street>
   14 Lisbeth Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   63854
  </property_id>
  <lat>
   -37.790945
  </lat>
  <lng>
   145.285853
  </lng>
  <addr_street>
   2/29 Kitchener Road
  </addr_street>
 </property>
 <property>
  <property_id>
   43784
  </property_id>
  <lat>
   -37.707485
  </lat>
  <lng>
   145.076785
  </lng>
  <addr_street>
   42 Ladd Street
  </addr_street>
 </property>
 <property>
  <property_id>
   63879
  </property_id>
  <lat>
   -37.810552
  </lat>
  <lng>
   145.289549
  </lng>
  <addr_street>
   2/7 Barclay Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   73820
  </property_id>
  <lat>
   -37.855727
  </lat>
  <lng>
   145.275081
  </lng>
  <addr_street>
   53 Rowson Street
  </addr_street>
 </property>
 <property>
  <property_id>
   95403
  </property_id>
  <lat>
   -37.909056
  </lat>
  <lng>
   145.042974
  </lng>
  <addr_street>
   283 Jasper Road
  </addr_street>
 </property>
 <property>
  <property_id>
   818
  </property_id>
  <lat>
   -37.79469681
  </lat>
  <lng>
   144.8864899
  </lng>
  <addr_street>
   3 Southampton Street
  </addr_street>
 </property>
 <property>
  <property_id>
   56296
  </property_id>
  <lat>
   -37.860291
  </lat>
  <lng>
   145.10745
  </lng>
  <addr_street>
   19 Arthur Street
  </addr_street>
 </property>
 <property>
  <property_id>
   9434
  </property_id>
  <lat>
   -37.852086
  </lat>
  <lng>
   144.717749
  </lng>
  <addr_street>
   257 Sayers Road
  </addr_street>
 </property>
 <property>
  <property_id>
   84560
  </property_id>
  <lat>
   -37.879615
  </lat>
  <lng>
   144.981194
  </lng>
  <addr_street>
   100 Ruskin Street
  </addr_street>
 </property>
 <property>
  <property_id>
   54821
  </property_id>
  <lat>
   -37.846194
  </lat>
  <lng>
   145.07757
  </lng>
  <addr_street>
   1 Lodge Road
  </addr_street>
 </property>
 <property>
  <property_id>
   35627
  </property_id>
  <lat>
   -37.72884369
  </lat>
  <lng>
   145.00187680000005
  </lng>
  <addr_street>
   8 Stewart Street
  </addr_street>
 </property>
 <property>
  <property_id>
   38491
  </property_id>
  <lat>
   -37.762551
  </lat>
  <lng>
   145.04713
  </lng>
  <addr_street>
   1 Oxford Court
  </addr_street>
 </property>
 <property>
  <property_id>
   36545
  </property_id>
  <lat>
   -37.67028300000001
  </lat>
  <lng>
   145.033261
  </lng>
  <addr_street>
   7 Bunting Court
  </addr_street>
 </property>
 <property>
  <property_id>
   96047
  </property_id>
  <lat>
   -37.916546
  </lat>
  <lng>
   145.043119
  </lng>
  <addr_street>
   6 Seaview Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   65700
  </property_id>
  <lat>
   -37.78308487
  </lat>
  <lng>
   145.30749509999995
  </lng>
  <addr_street>
   11a Kathy Court
  </addr_street>
 </property>
 <property>
  <property_id>
   95799
  </property_id>
  <lat>
   -37.91477
  </lat>
  <lng>
   145.046968
  </lng>
  <addr_street>
   43 Wavell Street
  </addr_street>
 </property>
 <property>
  <property_id>
   19210
  </property_id>
  <lat>
   -37.673485
  </lat>
  <lng>
   144.92038300000004
  </lng>
  <addr_street>
   8 Nathalia Street
  </addr_street>
 </property>
 <property>
  <property_id>
   5388
  </property_id>
  <lat>
   -37.857191
  </lat>
  <lng>
   144.819274
  </lng>
  <addr_street>
   Lot 137 Grieve Parade
  </addr_street>
 </property>
 <property>
  <property_id>
   45900
  </property_id>
  <lat>
   -37.711862
  </lat>
  <lng>
   145.127353
  </lng>
  <addr_street>
   19 Meadow Crescent
  </addr_street>
 </property>
 <property>
  <property_id>
   38837
  </property_id>
  <lat>
   -37.76725
  </lat>
  <lng>
   145.0393
  </lng>
  <addr_street>
   33 Livingstone Street
  </addr_street>
 </property>
 <property>
  <property_id>
   58124
  </property_id>
  <lat>
   -37.830562
  </lat>
  <lng>
   145.140043
  </lng>
  <addr_street>
   43 Canterbury Road
  </addr_street>
 </property>
 <property>
  <property_id>
   1389
  </property_id>
  <lat>
   -37.804742
  </lat>
  <lng>
   144.890951
  </lng>
  <addr_street>
   70 Windsor Street
  </addr_street>
 </property>
 <property>
  <property_id>
   37145
  </property_id>
  <lat>
   -37.636785
  </lat>
  <lng>
   145.039518
  </lng>
  <addr_street>
   25 Saunders Crescent
  </addr_street>
 </property>
 <property>
  <property_id>
   85883
  </property_id>
  <lat>
   -37.9203
  </lat>
  <lng>
   144.996623
  </lng>
  <addr_street>
   1 Butler Street
  </addr_street>
 </property>
 <property>
  <property_id>
   92082
  </property_id>
  <lat>
   -37.985135
  </lat>
  <lng>
   145.056975
  </lng>
  <addr_street>
   2 Cochrane Avenue
  </addr_street>
 </property>
 <property>
  <property_id>
   65471
  </property_id>
  <lat>
   -37.805027
  </lat>
  <lng>
   145.31825
  </lng>
  <addr_street>
   6-8 Glendale Court
  </addr_street>
 </property>
 <property>
  <property_id>
   31321
  </property_id>
  <lat>
   -37.75527
  </lat>
  <lng>
   145.021244
  </lng>
  <addr_street>
   53 Alston Street
  </addr_street>
 </property>
 <property>
  <property_id>
   45264
  </property_id>
  <lat>
   -37.703673
  </lat>
  <lng>
   145.094539
  </lng>
  <addr_street>
   54 Adeline Street
  </addr_street>
 </property>
 <property>
  <property_id>
   31712
  </property_id>
  <lat>
   -37.753151
  </lat>

Using the '`find_all()`' function, information from each tag will be extracted. The tags include:

- property_id: stores the unique identifier of each property
- lat: latitude value of the property
- lng: longitude value of the property
- addr_street: address of the property

The information from each tag will be stored in the corresponding lists:
- property_id: list that stores all the ids
- latitudes: list for all the latitude values
- longitudes: list for all the longitude values
- address: list for all the addresses

In [7]:
property_id = [int(pid.string) for pid in btree.find_all("property_id")]
latitudes = [float(lat.string) for lat in btree.find_all("lat")]
longitudes = [float(long.string) for long in btree.find_all("lng")]
address = [addr.string for addr in btree.find_all("addr_street")]

After extraction, all the information is first stored in a dictionary ('`xml_dict`') and then this is used in creation of a Pandas DataFrame ('`xml_df`').

In [8]:
xml_dict = dict()

xml_dict['property_id'] = property_id
xml_dict['lat'] = latitudes
xml_dict['lng'] = longitudes
xml_dict['addr_street'] = address

xml_df = pd.DataFrame(xml_dict)
xml_df.head()

   property_id        lat         lng           addr_street
0        91099 -37.956402  145.072540      99 Herald Street
1        65182 -37.806590  145.317902     18 Kilsyth Avenue
2        17661 -37.698942  144.909829  73 AUGUSTINE TERRACE
3        46534 -37.706180  145.139217        125 Ryans Road
4        87356 -37.939583  145.014479     133 Thomas Street

In [9]:
xml_df.shape  #dimensions

(1124, 4)

#### 3.1.2 JSON file

Here, we'll parse the given JSON file and then produce a dataframe that'll store the extracted information.

First, we'll open the file and use the '`load()`' method from the '`json`' module to store the content.

In [10]:
with open("31363660.json") as json_file:
    data = json.load(json_file)

In [11]:
data[0] #having a look at the first element of the extracted data

{'property_id': 69735,
 'lat': -37.870465,
 'lng': 145.071576,
 'addr_street': '20 St Georges Crescent'}

Using the '`json_normalize()`' function from the '`Pandas`' library, we'll store the extracted information in a dataframe ('`json_df`').

In [12]:
json_df = json_normalize(data)

In [13]:
json_df.head()

   property_id        lat         lng             addr_street
0        69735 -37.870465  145.071576  20 St Georges Crescent
1        13583 -37.697856  144.748974       9 Penshurst Court
2        20771 -37.762518  144.958547       20 Osborne Street
3        76248 -37.902363  145.096580        49 Burlington St
4        49402 -37.806021  145.092510       32 Beckett Street

In [14]:
json_df.shape

(1129, 4)

#### 3.1.3 Merging dataframes

Next, we'll merge both the dataframes ('`xml_df`' and '`json_df`') to get our final dataframe, where the '`pd.concat()`' function will be used.

We'll also address any possible issues due to this concatenation/merging (for instance, duplicate rows/records).

In [15]:
df = pd.concat([xml_df, json_df], ignore_index = True)
df.head()

   property_id        lat         lng           addr_street
0        91099 -37.956402  145.072540      99 Herald Street
1        65182 -37.806590  145.317902     18 Kilsyth Avenue
2        17661 -37.698942  144.909829  73 AUGUSTINE TERRACE
3        46534 -37.706180  145.139217        125 Ryans Road
4        87356 -37.939583  145.014479     133 Thomas Street

In [16]:
df.shape

(2253, 4)

Verifying if there are any duplicates in the '`property_id`' column as they're supposed to be unique for each property.

In [17]:
len(df['property_id'].unique())  #checking for the number of unique ids

2225

Since the total number of rows are 2253 but there are only 2225 unique ids, there are duplicates. These duplicates will be dropped using the '`drop_duplicates()`' method.

In [18]:
dups = df[df.duplicated(['property_id'])] #having a look at the duplicates
dups

      property_id        lat         lng             addr_street
652         53782 -37.828386  145.012420          8 Loyola Grove
875         17463 -37.711500  144.904762        57 Tarana Avenue
936         77123 -37.943287  145.115295        16 Murphy Street
961         94436 -37.954779  145.084553       8 Muirfield Close
978         96635 -38.010936  145.279590       21 Glenburn Drive
997         54758 -37.815524  145.019123          9 Brook Street
1101        87897 -37.936626  145.021669      66 Teddington Road
1124        69735 -37.870465  145.071576  20 St Georges Crescent
1125        13583 -37.697856  144.748974       9 Penshurst Court
1126        20771 -37.762518  144.958547       20 Osborne Street
1127        76248 -37.902363  145.096580        49 Burlington St
1128        49402 -37.806021  145.092510       32 Beckett Street
1239        29251 -37.765124  145.001749         11 Dally Street
1252        55991 -37.834776  145.090228     885 Riversdale Road
1282        42922 -37.722624  145.080367  187 Greensborough Road
1286        10619 -37.791416  144.933670         49 Smith Street
1331        40692 -37.710089  145.054765     47 Grange Boulevard
1442         1239 -37.806091  144.892941        6 Collins Street
1514        59128 -37.812874  145.184129           8 Alern Court
1628        22458 -37.746176  144.969133      28 Chambers Street
1683        16121 -37.699287  144.901223    63 Marigold Crescent
1853        16869 -37.700777  144.920889     24 Churchill Street
1909        34928 -37.692886  144.979745        41 Anstey Avenue
1955        46101 -37.714687  145.120300         45A Mayona Road
2137        29200 -37.765389  145.002746      10 Salisbury Grove
2179        43433 -37.711575  145.076355       10 Linacre Street
2189        27020 -37.591939  144.931457          47 Medway Road
2250        27941 -37.589896  144.930248   9 Metropolitan Avenue

In [19]:
dups.shape

(28, 4)

In [20]:
df = df.drop_duplicates(subset = ['property_id'])  #dropping duplicates based on the 'property_id' column

In [21]:
df.shape

(2225, 4)

### 3.2 'suburb' column

Next, we'll try to fill the '`suburb`' column using the given shapefile. We'll use a GeoPandas DataFrame to store the information of the shapefile.

In [22]:
#for ensuring the columns meet the required format
df['lat'] = df['lat'].round(6)
df['lng'] = df['lng'].round(6)

In [23]:
vic_data = gpd.read_file("vic_suburb_bounadry-20211012T112223Z-001/vic_suburb_bounadry/VIC_LOCALITY_POLYGON_shp.shp")  #reading the shapefile

In [24]:
vic_data.head()

,LC_PLY_PID,DT_CREATE,DT_RETIRE,LOC_PID,VIC_LOCALI,VIC_LOCA_1,VIC_LOCA_2,VIC_LOCA_3,VIC_LOCA_4,VIC_LOCA_5,VIC_LOCA_6,VIC_LOCA_7,geometry
0,6670,2011-08-31,None,VIC2615,2012-04-27,None,UNDERBOOL,None,None,G,None,2,"POLYGON ((141.74552 -35.07229, 141.74552 -35.0..."
1,6671,2011-08-31,None,VIC1986,2012-04-27,None,NURRAN,None,None,G,None,2,"POLYGON ((148.66877 -37.39571, 148.66876 -37.3..."
2,6672,2011-08-31,None,VIC2862,2012-04-27,None,WOORNDOO,None,None,G,None,2,"POLYGON ((142.92288 -37.97886, 142.90449 -37.9..."
3,6673,2011-08-31,None,VIC734,2017-08-09,None,DEPTFORD,None,None,G,None,2,"POLYGON ((147.82336 -37.66001, 147.82313 -37.6..."
4,6674,2011-08-31,None,VIC2900,2012-04-27,None,YANAC,None,None,G,None,2,"POLYGON ((141.27978 -35.99859, 141.27989 -35.9..."

In [25]:
vic_data.shape

(2973, 13)

In [26]:
vic_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2973 entries, 0 to 2972
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LC_PLY_PID  2973 non-null   object
 1   DT_CREATE   2973 non-null   object
 2   DT_RETIRE   0 non-null      object
 3   LOC_PID     2973 non-null   object
 4   VIC_LOCALI  2973 non-null   object
 5   VIC_LOCA_1  0 non-null      object
 6   VIC_LOCA_2  2973 non-null   object
 7   VIC_LOCA_3  0 non-null      object
 8   VIC_LOCA_4  31 non-null     object
 9   VIC_LOCA_5  2973 non-null   object
 10  VIC_LOCA_6  0 non-null      object
 11  VIC_LOCA_7  2973 non-null   object
 12  geometry    2973 non-null   geometry
dtypes: geometry(1), object(12)
memory usage: 302.1+ KB

The dataframe '`vic_data`' consists of a column named '`geometry`' that holds planar features information for each record.
Also, looks like the '`VIC_LOCA_2`' holds the names of all the suburbs.

In [27]:
df['suburb'] = 'Not available'  #addition of the 'suburb' column, with the default value 'Not available'
df

      property_id        lat         lng           addr_street         suburb
0           91099 -37.956402  145.072540      99 Herald Street  Not available
1           65182 -37.806590  145.317902     18 Kilsyth Avenue  Not available
2           17661 -37.698942  144.909829  73 AUGUSTINE TERRACE  Not available
3           46534 -37.706180  145.139217        125 Ryans Road  Not available
4           87356 -37.939583  145.014479     133 Thomas Street  Not available
...           ...        ...         ...                   ...            ...
2247        60069 -37.810080  145.200907     5 Tourello Street  Not available
2248        56038 -37.822793  145.066628           95 Broadway  Not available
2249        63480 -37.783340  145.287864       13 Aminga Court  Not available
2251        80587 -37.989635  145.171660        9 Wannon Court  Not available
2252        28523 -37.798172  144.991745      156 Easey Street  Not available

[2225 rows x 5 columns]

We'll use the coordinates (latitude, longitude) of each property to check in which suburb does it actually lie.

First, for each row, we'll extract the coordinates and then convert it into a '`Point`' object (from '`shapely.geometry`') and check in which '`Polygon`' object does it lie (here, each entry in the '`geometry`' column is a '`Polygon`' object) using the '`within`' method and then assign the suburb.

In [28]:
for idx in list(df.index):
    coord = Point(df['lng'][idx], df['lat'][idx])  #Point conversion
    for ix in list(vic_data.index):
        if coord.within(vic_data['geometry'][ix]): 
            df.at[idx, 'suburb'] = vic_data['VIC_LOCA_2'][ix]

In [29]:
df

      property_id        lat         lng           addr_street        suburb
0           91099 -37.956402  145.072540      99 Herald Street    CHELTENHAM
1           65182 -37.806590  145.317902     18 Kilsyth Avenue       KILSYTH
2           17661 -37.698942  144.909829  73 AUGUSTINE TERRACE       GLENROY
3           46534 -37.706180  145.139217        125 Ryans Road  ELTHAM NORTH
4           87356 -37.939583  145.014479     133 Thomas Street       HAMPTON
...           ...        ...         ...                   ...           ...
2247        60069 -37.810080  145.200907     5 Tourello Street       MITCHAM
2248        56038 -37.822793  145.066628           95 Broadway    CAMBERWELL
2249        63480 -37.783340  145.287864       13 Aminga Court       CROYDON
2251        80587 -37.989635  145.171660        9 Wannon Court   KEYSBOROUGH
2252        28523 -37.798172  144.991745      156 Easey Street   COLLINGWOOD

[2225 rows x 5 columns]

### 3.3 Local Government Area ('lga' column)

In this section, based on the suburb of the property, the LGA will be assigned.

#### 3.3.1 Parsing PDF file

First, we need to parse the PDF file that stores the LGA and its corresponding suburb values.

In [30]:
#!pdf2txt.py -o lga_to_suburb.txt lga_to_suburb.pdf  #parsing using pdfminer

After parsing, we'll have a look at the text file to see what it looks like so that we can extract all the required content and use it later for assigning the LGA value.

Using file methods, we'll open and read the content (content is stored in the list '`lga_list`'). We'll then perform any preprocessing, if required, to finally obtain our required content.

In [31]:
file = open("lga_to_suburb.txt", 'r')

lga_list = file.readlines()
file.close()

In [32]:
lga_list  #having a look at the list

["BANYULE : ['Abbotsford', 'Airport West', 'Albert Park', 'Alphington'] \n",
 '\n',
 "BRIMBANK : ['Altona', 'Altona North', 'Armadale', 'Ascot Vale'] \n",
 '\n',
 "DAREBIN : ['Ashburton', 'Ashwood', 'Avondale Heights', 'Balaclava'] \n",
 '\n',
 "HOBSONS BAY : ['Balwyn', 'Balwyn North', 'Bentleigh', 'Bentleigh East'] \n",
 '\n',
 "HUME : ['Box Hill', 'Braybrook', 'Brighton', 'Brighton East'] \n",
 '\n',
 "MARIBYRNONG : ['Brunswick', 'Brunswick West', 'Bulleen', 'Burwood'] \n",
 '\n',
 "MELBOURNE : ['Camberwell', 'Canterbury', 'Carlton North', 'Carnegie'] \n",
 '\n',
 "MELTON : ['Caulfield', 'Caulfield North', 'Caulfield South', 'Chadstone'] \n",
 '\n',
 "MOONEE VALLEY : ['Clifton Hill', 'Coburg', 'Coburg North', 'Collingwood'] \n",
 '\n',
 "MORELAND : ['Doncaster', 'Eaglemont', 'Elsternwick', 'Elwood'] \n",
 '\n',
 "NILLUMBIK : ['Essendon', 'Essendon North', 'Fairfield', 'Fitzroy', 'Plenty'] \n",
 '\n',
 "WHITTLESEA : ['Fitzroy North', 'Flemington', 'Footscray', 'Glen Iris'] \n",
 '\n',
 "WYNDHAM : ['Glenroy', 'Gowanbrae', 'Hadfield', 'Hampton'] \n",
 '\n',
 "YARRA : ['Hampton East', 'Hawthorn', 'Heidelberg Heights', 'Heidelberg West'] \n",
 '\n',
 "BASS COAST : ['Hughesdale', 'Ivanhoe', 'Kealba', 'Keilor East'] \n",
 '\n',
 "SOUTH GIPPSLAND : ['Kensington', 'Kew', 'Kew East', 'Kooyong','Heatherton'] \n",
 '\n',
 "BAW BAW : ['Maidstone', 'Malvern', 'Malvern East', 'Maribyrnong'] \n",
 '\n',
 "BENALLA : ['Melbourne', 'Middle Park', 'Mont Albert', 'Moonee Ponds'] \n",
 '\n',
 "MANSFIELD : ['Moorabbin', 'Newport', 'Niddrie', 'North Melbourne'] \n",
 '\n',
 "MURRINDINDI : ['Northcote', 'Oak Park', 'Oakleigh South', 'Parkville', 'Laverton'] \n",
 '\n',
 "BOROONDARA : ['Pascoe Vale', 'Port Melbourne', 'Prahran', 'Preston'] \n",
 '\n',
 "EAST GIPPSLAND : ['Reservoir', 'Richmond', 'Rosanna', 'Seddon'] \n",
 '\n',
 "GREATER SHEPPARTON : ['South Melbourne', 'South Yarra', 'Southbank', 'Spotswood'] \n",
 '\n',
 "KNOX : ['St Kilda', 'Strathmore', 'Sunshine', 'Sunshine North'] \n",
 '\n',
 "LATROBE : ['Sunshine West', 'Surrey Hills', 'Templestowe Lower', 'Thornbury'] \n",
 '\n',
 "MANNINGHAM : ['Toorak', 'Viewbank', 'Watsonia', 'West Melbourne'] \n",
 '\n',
 "MAROONDAH : ['Williamstown', 'Williamstown North', 'Windsor', 'Yallambie'] \n",
 '\n',
 "MITCHELL : ['Yarraville', 'Aberfeldie', 'Bellfield', 'Brunswick East'] \n",
 '\n',
 "STRATHBOGIE : ['Burnley', 'Campbellfield', 'Carlton', 'East Melbourne'] \n",
 '\n',
 "MONASH : ['Essendon West', 'Fawkner', 'Hawthorn East', 'Heidelberg'] \n",
 '\n',
 "ALPINE : ['Ivanhoe East', 'Jacana', 'Kingsbury', 'Kingsville'] \n",
 '\n',
 "\x0cMOIRA : ['Murrumbeena', 'Ormond', 'West Footscray', 'Albion'] \n",
 '\n',
 "WANGARATTA : ['Brooklyn', 'Glen Huntly', 'Oakleigh', 'Ripponlea','Macleod'] \n",
 '\n',
 "WELLINGTON : ['Cremorne', 'Docklands', 'South Kingsville', 'Strathmore Heights'] \n",
 '\n',
 "WHITEHORSE : ['Travancore', 'Caulfield East', 'Seaholme', 'Keilor Park'] \n",
 '\n',
 "INDIGO : ['Gardenvale', 'Princes Hill', 'Bayswater', 'Bayswater North'] \n",
 '\n',
 "TOWONG : ['Beaumaris', 'Berwick', 'Boronia', 'Briar Hill'] \n",
 '\n',
 "WODONGA : ['Broadmeadows', 'Bundoora', 'Burnside Heights', 'Burwood East'] \n",
 '\n',
 "YARRA RANGES : ['Cairnlea', 'Caroline Springs', 'Cheltenham', 'Craigieburn'] \n",
 '\n',
 "CARDINIA : ['Cranbourne', 'Croydon', 'Dandenong', 'Dandenong North'] \n",
 '\n',
 "CASEY : ['Diamond Creek', 'Dingley Village', 'Doncaster East', 'Donvale'] \n",
 '\n',
 "FRANKSTON : ['Doreen', 'Eltham', 'Epping', 'Forest Hill', 'Lilydale'] \n",
 '\n',
 "BAYSIDE : ['Frankston', 'Frankston North', 'Frankston South', 'Gisborne'] \n",
 '\n',
 "GLEN EIRA : ['Gladstone Park', 'Greensborough', 'Hallam', 'Healesville'] \n",
 '\n',
 "GREATER DANDENONG : ['Highett', 'Hillside', 'Huntingdale', 'Keilor Downs'] \n",
 '\n',
 "KINGSTON : ['Keilor Lodge', 'Keysborough', 'Kings Park', 'Lalor', 'Laverton North'] \n",
 '\n',
 "MORNINGTON PENINSULA : ['Lower Plenty', 'Melton', 'Mernda', 'Mill Park'] \n",
 '\n',
 "PORT PHILLIP : ['Mitcham', 'Montmorency', 'Mordialloc', 'Mount Waverley'] \n",
 '\n',
 "STONNINGTON : ['Narre Warren', 'Nunawading', 'Oakleigh East', 'Parkdale'] \n",
 '\n',
 "BALLARAT : ['Point Cook', 'Ringwood East', 'Rockbank', 'Rowville', 'Lysterfield'] \n",
 '\n',
 "PYRENEES : ['Sandringham', 'Seaford', 'Skye', 'South Morang', 'Eumemmerring'] \n",
 '\n',
 "GREATER BENDIGO : ['Springvale', 'St Albans', 'Sunbury', 'Tarneit'] \n",
 '\n',
 "CAMPASPE : ['Taylors Hill', 'Taylors Lakes', 'The Basin', 'Thomastown', 'Wattle Glen'] \n",
 '\n',
 "CENTRAL GOLDFIELDS : ['Truganina', 'Tullamarine', 'Vermont', 'Wantirna'] \n",
 '\n',
 "LODDON : ['Wantirna South', 'Werribee', 'Westmeadows', 'Williams Landing'] \n",
 '\n',
 "GREATER GEELONG : ['Wollert', 'Wyndham Vale', 'Black Rock', 'Blackburn'] \n",
 '\n',
 "QUEENSCLIFFE : ['Blackburn North', 'Bonbeach', 'Carrum', 'Chelsea', 'Graeside'] \n",
 '\n',
 "HINDMARSH : ['Clayton', 'Doveton', 'Ferntree Gully', 'Glen Waverley', 'Yarrambat'] \n",
 '\n',
 "HORSHAM : ['Greenvale', 'Heathmont', 'Hoppers Crossing', 'McKinnon', 'Braeside'] \n",
 '\n',
 "WEST WIMMERA : ['Melton South', 'Melton West', 'Mentone', 'Mooroolbark'] \n",
 '\n',
 "MACEDON RANGES : ['Mulgrave', 'Ringwood', 'Roxburgh Park', 'Seabrook', 'Warranwood'] \n",
 '\n',
 "MOUNT ALEXANDER : ['Templestowe', 'Vermont South', 'Warrandyte', 'Watsonia North'] \n",
 '\n',
 "\x0cMILDURA : ['Wheelers Hill', 'Altona Meadows', 'Blackburn South', 'Carrum Downs'] \n",
 '\n',
 "GOLDEN PLAINS : ['Clayton South', 'Croydon North', 'Langwarrin', 'Noble Park'] \n",
 '\n',
 "HEPBURN : ['Notting Hill', 'Ringwood North', 'Sydenham', 'Albanvale', 'Upper Ferntree Gully'] \n",
 '\n',
 "MOORABOOL : ['Beaconsfield Upper', 'Chelsea Heights', 'Dallas', 'Deer Park', 'Research'] \n",
 '\n',
 "ARARAT : ['Eltham North', 'Keilor', 'Meadow Heights', 'Mount Evelyn'] \n",
 '\n',
 "NORTHERN GRAMPIANS : ['North Warrandyte', 'Pakenham', 'Riddells Creek', 'Sandhurst'] \n",
 '\n',
 "YARRIAMBIACK : ['Scoresby', 'Silvan', 'Aspendale', 'Chirnside Park'] \n",
 '\n',
 "GLENELG : ['Croydon Hills', 'Croydon South', 'Derrimut', 'Diggers Rest'] \n",
 '\n',
 "SOUTHERN GRAMPIANS : ['Edithvale', 'Hampton Park', 'Knoxfield', 'St Helena'] \n",
 '\n',
 "COLAC-OTWAY : ['Upwey', 'Bacchus Marsh', 'Coolaroo', 'Cranbourne North'] \n",
 '\n',
 "SURF COAST : ['Kilsyth', 'Montrose', 'Aspendale Gardens', 'Bullengarook', 'Dandenong South'] \n",
 '\n',
 "BULOKE : ['Clarinda', 'Deepdene', 'Delahey', 'Hurstbridge'] \n",
 '\n',
 "GANNAWARRA : ['Kurunjang', 'Wonga Park', 'Endeavour Hills', 'Officer'] \n",
 '\n',
 "SWAN HILL : ['Waterways', 'Ardeer', 'Beaconsfield', 'Springvale South'] \n",
 '\n',
 "CORANGAMITE : ['Yarra Glen', 'Brookfield', 'Emerald', 'Whittlesea', 'Kilsyth South'] \n",
 '\n',
 "MOYNE : ['Burnside', 'Attwood', 'Wallan', 'New Gisborne', 'St Kilda East'] \n",
 '\n',
 "WARRNAMBOOL : ['Plumpton', 'Monbulk', 'Manor Lakes', 'Harkness', 'Fraser Rise'] \n",
 '\n',
 '\x0c']

In [33]:
lga_list = lga_list[:-1]  #the last element seems to be some string that isn't relevant, hence its excluded.

In [34]:
lga_list = [lga_list[idx] for idx in range(len(lga_list)) if idx % 2 == 0]  #excluding all the '\n' strings at odd index positions

In [35]:
lga_list  #let's look at the list now

["BANYULE : ['Abbotsford', 'Airport West', 'Albert Park', 'Alphington'] \n",
 "BRIMBANK : ['Altona', 'Altona North', 'Armadale', 'Ascot Vale'] \n",
 "DAREBIN : ['Ashburton', 'Ashwood', 'Avondale Heights', 'Balaclava'] \n",
 "HOBSONS BAY : ['Balwyn', 'Balwyn North', 'Bentleigh', 'Bentleigh East'] \n",
 "HUME : ['Box Hill', 'Braybrook', 'Brighton', 'Brighton East'] \n",
 "MARIBYRNONG : ['Brunswick', 'Brunswick West', 'Bulleen', 'Burwood'] \n",
 "MELBOURNE : ['Camberwell', 'Canterbury', 'Carlton North', 'Carnegie'] \n",
 "MELTON : ['Caulfield', 'Caulfield North', 'Caulfield South', 'Chadstone'] \n",
 "MOONEE VALLEY : ['Clifton Hill', 'Coburg', 'Coburg North', 'Collingwood'] \n",
 "MORELAND : ['Doncaster', 'Eaglemont', 'Elsternwick', 'Elwood'] \n",
 "NILLUMBIK : ['Essendon', 'Essendon North', 'Fairfield', 'Fitzroy', 'Plenty'] \n",
 "WHITTLESEA : ['Fitzroy North', 'Flemington', 'Footscray', 'Glen Iris'] \n",
 "WYNDHAM : ['Glenroy', 'Gowanbrae', 'Hadfield', 'Hampton'] \n",
 "YARRA : ['Hampton East', 'Hawthorn', 'Heidelberg Heights', 'Heidelberg West'] \n",
 "BASS COAST : ['Hughesdale', 'Ivanhoe', 'Kealba', 'Keilor East'] \n",
 "SOUTH GIPPSLAND : ['Kensington', 'Kew', 'Kew East', 'Kooyong','Heatherton'] \n",
 "BAW BAW : ['Maidstone', 'Malvern', 'Malvern East', 'Maribyrnong'] \n",
 "BENALLA : ['Melbourne', 'Middle Park', 'Mont Albert', 'Moonee Ponds'] \n",
 "MANSFIELD : ['Moorabbin', 'Newport', 'Niddrie', 'North Melbourne'] \n",
 "MURRINDINDI : ['Northcote', 'Oak Park', 'Oakleigh South', 'Parkville', 'Laverton'] \n",
 "BOROONDARA : ['Pascoe Vale', 'Port Melbourne', 'Prahran', 'Preston'] \n",
 "EAST GIPPSLAND : ['Reservoir', 'Richmond', 'Rosanna', 'Seddon'] \n",
 "GREATER SHEPPARTON : ['South Melbourne', 'South Yarra', 'Southbank', 'Spotswood'] \n",
 "KNOX : ['St Kilda', 'Strathmore', 'Sunshine', 'Sunshine North'] \n",
 "LATROBE : ['Sunshine West', 'Surrey Hills', 'Templestowe Lower', 'Thornbury'] \n",
 "MANNINGHAM : ['Toorak', 'Viewbank', 'Watsonia', 'West Melbourne'] \n",
 "MAROONDAH : ['Williamstown', 'Williamstown North', 'Windsor', 'Yallambie'] \n",
 "MITCHELL : ['Yarraville', 'Aberfeldie', 'Bellfield', 'Brunswick East'] \n",
 "STRATHBOGIE : ['Burnley', 'Campbellfield', 'Carlton', 'East Melbourne'] \n",
 "MONASH : ['Essendon West', 'Fawkner', 'Hawthorn East', 'Heidelberg'] \n",
 "ALPINE : ['Ivanhoe East', 'Jacana', 'Kingsbury', 'Kingsville'] \n",
 "\x0cMOIRA : ['Murrumbeena', 'Ormond', 'West Footscray', 'Albion'] \n",
 "WANGARATTA : ['Brooklyn', 'Glen Huntly', 'Oakleigh', 'Ripponlea','Macleod'] \n",
 "WELLINGTON : ['Cremorne', 'Docklands', 'South Kingsville', 'Strathmore Heights'] \n",
 "WHITEHORSE : ['Travancore', 'Caulfield East', 'Seaholme', 'Keilor Park'] \n",
 "INDIGO : ['Gardenvale', 'Princes Hill', 'Bayswater', 'Bayswater North'] \n",
 "TOWONG : ['Beaumaris', 'Berwick', 'Boronia', 'Briar Hill'] \n",
 "WODONGA : ['Broadmeadows', 'Bundoora', 'Burnside Heights', 'Burwood East'] \n",
 "YARRA RANGES : ['Cairnlea', 'Caroline Springs', 'Cheltenham', 'Craigieburn'] \n",
 "CARDINIA : ['Cranbourne', 'Croydon', 'Dandenong', 'Dandenong North'] \n",
 "CASEY : ['Diamond Creek', 'Dingley Village', 'Doncaster East', 'Donvale'] \n",
 "FRANKSTON : ['Doreen', 'Eltham', 'Epping', 'Forest Hill', 'Lilydale'] \n",
 "BAYSIDE : ['Frankston', 'Frankston North', 'Frankston South', 'Gisborne'] \n",
 "GLEN EIRA : ['Gladstone Park', 'Greensborough', 'Hallam', 'Healesville'] \n",
 "GREATER DANDENONG : ['Highett', 'Hillside', 'Huntingdale', 'Keilor Downs'] \n",
 "KINGSTON : ['Keilor Lodge', 'Keysborough', 'Kings Park', 'Lalor', 'Laverton North'] \n",
 "MORNINGTON PENINSULA : ['Lower Plenty', 'Melton', 'Mernda', 'Mill Park'] \n",
 "PORT PHILLIP : ['Mitcham', 'Montmorency', 'Mordialloc', 'Mount Waverley'] \n",
 "STONNINGTON : ['Narre Warren', 'Nunawading', 'Oakleigh East', 'Parkdale'] \n",
 "BALLARAT : ['Point Cook', 'Ringwood East', 'Rockbank', 'Rowville', 'Lysterfield'] \n",
 "PYRENEES : ['Sandringham', 'Seaford', 'Skye', 'South Morang', 'Eumemmerring'] \n",
 "GREATER BENDIGO : ['Springvale', 'St Albans', 'Sunbury', 'Tarneit'] \n",
 "CAMPASPE : ['Taylors Hill', 'Taylors Lakes', 'The Basin', 'Thomastown', 'Wattle Glen'] \n",
 "CENTRAL GOLDFIELDS : ['Truganina', 'Tullamarine', 'Vermont', 'Wantirna'] \n",
 "LODDON : ['Wantirna South', 'Werribee', 'Westmeadows', 'Williams Landing'] \n",
 "GREATER GEELONG : ['Wollert', 'Wyndham Vale', 'Black Rock', 'Blackburn'] \n",
 "QUEENSCLIFFE : ['Blackburn North', 'Bonbeach', 'Carrum', 'Chelsea', 'Graeside'] \n",
 "HINDMARSH : ['Clayton', 'Doveton', 'Ferntree Gully', 'Glen Waverley', 'Yarrambat'] \n",
 "HORSHAM : ['Greenvale', 'Heathmont', 'Hoppers Crossing', 'McKinnon', 'Braeside'] \n",
 "WEST WIMMERA : ['Melton South', 'Melton West', 'Mentone', 'Mooroolbark'] \n",
 "MACEDON RANGES : ['Mulgrave', 'Ringwood', 'Roxburgh Park', 'Seabrook', 'Warranwood'] \n",
 "MOUNT ALEXANDER : ['Templestowe', 'Vermont South', 'Warrandyte', 'Watsonia North'] \n",
 "\x0cMILDURA : ['Wheelers Hill', 'Altona Meadows', 'Blackburn South', 'Carrum Downs'] \n",
 "GOLDEN PLAINS : ['Clayton South', 'Croydon North', 'Langwarrin', 'Noble Park'] \n",
 "HEPBURN : ['Notting Hill', 'Ringwood North', 'Sydenham', 'Albanvale', 'Upper Ferntree Gully'] \n",
 "MOORABOOL : ['Beaconsfield Upper', 'Chelsea Heights', 'Dallas', 'Deer Park', 'Research'] \n",
 "ARARAT : ['Eltham North', 'Keilor', 'Meadow Heights', 'Mount Evelyn'] \n",
 "NORTHERN GRAMPIANS : ['North Warrandyte', 'Pakenham', 'Riddells Creek', 'Sandhurst'] \n",
 "YARRIAMBIACK : ['Scoresby', 'Silvan', 'Aspendale', 'Chirnside Park'] \n",
 "GLENELG : ['Croydon Hills', 'Croydon South', 'Derrimut', 'Diggers Rest'] \n",
 "SOUTHERN GRAMPIANS : ['Edithvale', 'Hampton Park', 'Knoxfield', 'St Helena'] \n",
 "COLAC-OTWAY : ['Upwey', 'Bacchus Marsh', 'Coolaroo', 'Cranbourne North'] \n",
 "SURF COAST : ['Kilsyth', 'Montrose', 'Aspendale Gardens', 'Bullengarook', 'Dandenong South'] \n",
 "BULOKE : ['Clarinda', 'Deepdene', 'Delahey', 'Hurstbridge'] \n",
 "GANNAWARRA : ['Kurunjang', 'Wonga Park', 'Endeavour Hills', 'Officer'] \n",
 "SWAN HILL : ['Waterways', 'Ardeer', 'Beaconsfield', 'Springvale South'] \n",
 "CORANGAMITE : ['Yarra Glen', 'Brookfield', 'Emerald', 'Whittlesea', 'Kilsyth South'] \n",
 "MOYNE : ['Burnside', 'Attwood', 'Wallan', 'New Gisborne', 'St Kilda East'] \n",
 "WARRNAMBOOL : ['Plumpton', 'Monbulk', 'Manor Lakes', 'Harkness', 'Fraser Rise'] \n"]

In [36]:
for idx in range(len(lga_list)):  #iterating over the 'lga_list' list
    lga_list[idx] = lga_list[idx].replace("\n", "")  #replacing the newline character with an empty string 
    lga_list[idx] = lga_list[idx].split(":")  #splitting the element/string

In [37]:
lga_list  #checking what the list looks like now

[['BANYULE ', " ['Abbotsford', 'Airport West', 'Albert Park', 'Alphington'] "],
 ['BRIMBANK ', " ['Altona', 'Altona North', 'Armadale', 'Ascot Vale'] "],
 ['DAREBIN ', " ['Ashburton', 'Ashwood', 'Avondale Heights', 'Balaclava'] "],
 ['HOBSONS BAY ',
  " ['Balwyn', 'Balwyn North', 'Bentleigh', 'Bentleigh East'] "],
 ['HUME ', " ['Box Hill', 'Braybrook', 'Brighton', 'Brighton East'] "],
 ['MARIBYRNONG ', " ['Brunswick', 'Brunswick West', 'Bulleen', 'Burwood'] "],
 ['MELBOURNE ', " ['Camberwell', 'Canterbury', 'Carlton North', 'Carnegie'] "],
 ['MELTON ',
  " ['Caulfield', 'Caulfield North', 'Caulfield South', 'Chadstone'] "],
 ['MOONEE VALLEY ',
  " ['Clifton Hill', 'Coburg', 'Coburg North', 'Collingwood'] "],
 ['MORELAND ', " ['Doncaster', 'Eaglemont', 'Elsternwick', 'Elwood'] "],
 ['NILLUMBIK ',
  " ['Essendon', 'Essendon North', 'Fairfield', 'Fitzroy', 'Plenty'] "],
 ['WHITTLESEA ',
  " ['Fitzroy North', 'Flemington', 'Footscray', 'Glen Iris'] "],
 ['WYNDHAM ', " ['Glenroy', 'Gowanbrae', 'Hadfield', 'Hampton'] "],
 ['YARRA ',
  " ['Hampton East', 'Hawthorn', 'Heidelberg Heights', 'Heidelberg West'] "],
 ['BASS COAST ', " ['Hughesdale', 'Ivanhoe', 'Kealba', 'Keilor East'] "],
 ['SOUTH GIPPSLAND ',
  " ['Kensington', 'Kew', 'Kew East', 'Kooyong','Heatherton'] "],
 ['BAW BAW ', " ['Maidstone', 'Malvern', 'Malvern East', 'Maribyrnong'] "],
 ['BENALLA ', " ['Melbourne', 'Middle Park', 'Mont Albert', 'Moonee Ponds'] "],
 ['MANSFIELD ', " ['Moorabbin', 'Newport', 'Niddrie', 'North Melbourne'] "],
 ['MURRINDINDI ',
  " ['Northcote', 'Oak Park', 'Oakleigh South', 'Parkville', 'Laverton'] "],
 ['BOROONDARA ', " ['Pascoe Vale', 'Port Melbourne', 'Prahran', 'Preston'] "],
 ['EAST GIPPSLAND ', " ['Reservoir', 'Richmond', 'Rosanna', 'Seddon'] "],
 ['GREATER SHEPPARTON ',
  " ['South Melbourne', 'South Yarra', 'Southbank', 'Spotswood'] "],
 ['KNOX ', " ['St Kilda', 'Strathmore', 'Sunshine', 'Sunshine North'] "],
 ['LATROBE ',
  " ['Sunshine West', 'Surrey Hills', 'Templestowe Lower', 'Thornbury'] "],
 ['MANNINGHAM ', " ['Toorak', 'Viewbank', 'Watsonia', 'West Melbourne'] "],
 ['MAROONDAH ',
  " ['Williamstown', 'Williamstown North', 'Windsor', 'Yallambie'] "],
 ['MITCHELL ',
  " ['Yarraville', 'Aberfeldie', 'Bellfield', 'Brunswick East'] "],
 ['STRATHBOGIE ',
  " ['Burnley', 'Campbellfield', 'Carlton', 'East Melbourne'] "],
 ['MONASH ', " ['Essendon West', 'Fawkner', 'Hawthorn East', 'Heidelberg'] "],
 ['ALPINE ', " ['Ivanhoe East', 'Jacana', 'Kingsbury', 'Kingsville'] "],
 ['\x0cMOIRA ', " ['Murrumbeena', 'Ormond', 'West Footscray', 'Albion'] "],
 ['WANGARATTA ',
  " ['Brooklyn', 'Glen Huntly', 'Oakleigh', 'Ripponlea','Macleod'] "],
 ['WELLINGTON ',
  " ['Cremorne', 'Docklands', 'South Kingsville', 'Strathmore Heights'] "],
 ['WHITEHORSE ',
  " ['Travancore', 'Caulfield East', 'Seaholme', 'Keilor Park'] "],
 ['INDIGO ',
  " ['Gardenvale', 'Princes Hill', 'Bayswater', 'Bayswater North'] "],
 ['TOWONG ', " ['Beaumaris', 'Berwick', 'Boronia', 'Briar Hill'] "],
 ['WODONGA ',
  " ['Broadmeadows', 'Bundoora', 'Burnside Heights', 'Burwood East'] "],
 ['YARRA RANGES ',
  " ['Cairnlea', 'Caroline Springs', 'Cheltenham', 'Craigieburn'] "],
 ['CARDINIA ', " ['Cranbourne', 'Croydon', 'Dandenong', 'Dandenong North'] "],
 ['CASEY ',
  " ['Diamond Creek', 'Dingley Village', 'Doncaster East', 'Donvale'] "],
 ['FRANKSTON ', " ['Doreen', 'Eltham', 'Epping', 'Forest Hill', 'Lilydale'] "],
 ['BAYSIDE ',
  " ['Frankston', 'Frankston North', 'Frankston South', 'Gisborne'] "],
 ['GLEN EIRA ',
  " ['Gladstone Park', 'Greensborough', 'Hallam', 'Healesville'] "],
 ['GREATER DANDENONG ',
  " ['Highett', 'Hillside', 'Huntingdale', 'Keilor Downs'] "],
 ['KINGSTON ',
  " ['Keilor Lodge', 'Keysborough', 'Kings Park', 'Lalor', 'Laverton North'] "],
 ['MORNINGTON PENINSULA ',
  " ['Lower Plenty', 'Melton', 'Mernda', 'Mill Park'] "],
 ['PORT PHILLIP ',
  " ['Mitcham', 'Montmorency', 'Mordialloc', 'Mount Waverley'] "],
 ['STONNINGTON ',
  " ['Narre Warren', 'Nunawading', 'Oakleigh East', 'Parkdale'] "],
 ['BALLARAT ',
  " ['Point Cook', 'Ringwood East', 'Rockbank', 'Rowville', 'Lysterfield'] "],
 ['PYRENEES ',
  " ['Sandringham', 'Seaford', 'Skye', 'South Morang', 'Eumemmerring'] "],
 ['GREATER BENDIGO ', " ['Springvale', 'St Albans', 'Sunbury', 'Tarneit'] "],
 ['CAMPASPE ',
  " ['Taylors Hill', 'Taylors Lakes', 'The Basin', 'Thomastown', 'Wattle Glen'] "],
 ['CENTRAL GOLDFIELDS ',
  " ['Truganina', 'Tullamarine', 'Vermont', 'Wantirna'] "],
 ['LODDON ',
  " ['Wantirna South', 'Werribee', 'Westmeadows', 'Williams Landing'] "],
 ['GREATER GEELONG ',
  " ['Wollert', 'Wyndham Vale', 'Black Rock', 'Blackburn'] "],
 ['QUEENSCLIFFE ',
  " ['Blackburn North', 'Bonbeach', 'Carrum', 'Chelsea', 'Graeside'] "],
 ['HINDMARSH ',
  " ['Clayton', 'Doveton', 'Ferntree Gully', 'Glen Waverley', 'Yarrambat'] "],
 ['HORSHAM ',
  " ['Greenvale', 'Heathmont', 'Hoppers Crossing', 'McKinnon', 'Braeside'] "],
 ['WEST WIMMERA ',
  " ['Melton South', 'Melton West', 'Mentone', 'Mooroolbark'] "],
 ['MACEDON RANGES ',
  " ['Mulgrave', 'Ringwood', 'Roxburgh Park', 'Seabrook', 'Warranwood'] "],
 ['MOUNT ALEXANDER ',
  " ['Templestowe', 'Vermont South', 'Warrandyte', 'Watsonia North'] "],
 ['\x0cMILDURA ',
  " ['Wheelers Hill', 'Altona Meadows', 'Blackburn South', 'Carrum Downs'] "],
 ['GOLDEN PLAINS ',
  " ['Clayton South', 'Croydon North', 'Langwarrin', 'Noble Park'] "],
 ['HEPBURN ',
  " ['Notting Hill', 'Ringwood North', 'Sydenham', 'Albanvale', 'Upper Ferntree Gully'] "],
 ['MOORABOOL ',
  " ['Beaconsfield Upper', 'Chelsea Heights', 'Dallas', 'Deer Park', 'Research'] "],
 ['ARARAT ', " ['Eltham North', 'Keilor', 'Meadow Heights', 'Mount Evelyn'] "],
 ['NORTHERN GRAMPIANS ',
  " ['North Warrandyte', 'Pakenham', 'Riddells Creek', 'Sandhurst'] "],
 ['YARRIAMBIACK ', " ['Scoresby', 'Silvan', 'Aspendale', 'Chirnside Park'] "],
 ['GLENELG ',
  " ['Croydon Hills', 'Croydon South', 'Derrimut', 'Diggers Rest'] "],
 ['SOUTHERN GRAMPIANS ',
  " ['Edithvale', 'Hampton Park', 'Knoxfield', 'St Helena'] "],
 ['COLAC-OTWAY ',
  " ['Upwey', 'Bacchus Marsh', 'Coolaroo', 'Cranbourne North'] "],
 ['SURF COAST ',
  " ['Kilsyth', 'Montrose', 'Aspendale Gardens', 'Bullengarook', 'Dandenong South'] "],
 ['BULOKE ', " ['Clarinda', 'Deepdene', 'Delahey', 'Hurstbridge'] "],
 ['GANNAWARRA ',
  " ['Kurunjang', 'Wonga Park', 'Endeavour Hills', 'Officer'] "],
 ['SWAN HILL ',
  " ['Waterways', 'Ardeer', 'Beaconsfield', 'Springvale South'] "],
 ['CORANGAMITE ',
  " ['Yarra Glen', 'Brookfield', 'Emerald', 'Whittlesea', 'Kilsyth South'] "],
 ['MOYNE ',
  " ['Burnside', 'Attwood', 'Wallan', 'New Gisborne', 'St Kilda East'] "],
 ['WARRNAMBOOL ',
  " ['Plumpton', 'Monbulk', 'Manor Lakes', 'Harkness', 'Fraser Rise'] "]]

Now each element in the list is list that contains two elements: the LGA as the first element and the string of suburbs for the corresponding LGA as the second element.
We'll try preprocessing these in the following steps:

In [39]:
#preprocessing the second element of each sublist (suburbs)
for idx in range(len(lga_list)):
    lga_list[idx][1] = lga_list[idx][1].replace("[", "")  #replacing the character '[' with an empty string
    lga_list[idx][1] = lga_list[idx][1].replace("]", "")  #replacing the character ']' with an empty string
    lga_list[idx][1] = lga_list[idx][1].replace("'", "")  #replacing the character "'" with an empty string
    lga_list[idx][1] = lga_list[idx][1].split(",")  #splitting the string
    
    lga_list[idx][0] = lga_list[idx][0].strip()  #stripping of any whitespace characters in the first element (lGA)
    
    for i in range(len(lga_list[idx][1])):
        lga_list[idx][1][i] = lga_list[idx][1][i].strip()  #stripping any whitespace characters from each suburb

In [40]:
lga_list

[['BANYULE', ['Abbotsford', 'Airport West', 'Albert Park', 'Alphington']],
 ['BRIMBANK', ['Altona', 'Altona North', 'Armadale', 'Ascot Vale']],
 ['DAREBIN', ['Ashburton', 'Ashwood', 'Avondale Heights', 'Balaclava']],
 ['HOBSONS BAY', ['Balwyn', 'Balwyn North', 'Bentleigh', 'Bentleigh East']],
 ['HUME', ['Box Hill', 'Braybrook', 'Brighton', 'Brighton East']],
 ['MARIBYRNONG', ['Brunswick', 'Brunswick West', 'Bulleen', 'Burwood']],
 ['MELBOURNE', ['Camberwell', 'Canterbury', 'Carlton North', 'Carnegie']],
 ['MELTON', ['Caulfield', 'Caulfield North', 'Caulfield South', 'Chadstone']],
 ['MOONEE VALLEY', ['Clifton Hill', 'Coburg', 'Coburg North', 'Collingwood']],
 ['MORELAND', ['Doncaster', 'Eaglemont', 'Elsternwick', 'Elwood']],
 ['NILLUMBIK',
  ['Essendon', 'Essendon North', 'Fairfield', 'Fitzroy', 'Plenty']],
 ['WHITTLESEA', ['Fitzroy North', 'Flemington', 'Footscray', 'Glen Iris']],
 ['WYNDHAM', ['Glenroy', 'Gowanbrae', 'Hadfield', 'Hampton']],
 ['YARRA',
  ['Hampton East', 'Hawthorn', 'Heidelberg Heights', 'Heidelberg West']],
 ['BASS COAST', ['Hughesdale', 'Ivanhoe', 'Kealba', 'Keilor East']],
 ['SOUTH GIPPSLAND',
  ['Kensington', 'Kew', 'Kew East', 'Kooyong', 'Heatherton']],
 ['BAW BAW', ['Maidstone', 'Malvern', 'Malvern East', 'Maribyrnong']],
 ['BENALLA', ['Melbourne', 'Middle Park', 'Mont Albert', 'Moonee Ponds']],
 ['MANSFIELD', ['Moorabbin', 'Newport', 'Niddrie', 'North Melbourne']],
 ['MURRINDINDI',
  ['Northcote', 'Oak Park', 'Oakleigh South', 'Parkville', 'Laverton']],
 ['BOROONDARA', ['Pascoe Vale', 'Port Melbourne', 'Prahran', 'Preston']],
 ['EAST GIPPSLAND', ['Reservoir', 'Richmond', 'Rosanna', 'Seddon']],
 ['GREATER SHEPPARTON',
  ['South Melbourne', 'South Yarra', 'Southbank', 'Spotswood']],
 ['KNOX', ['St Kilda', 'Strathmore', 'Sunshine', 'Sunshine North']],
 ['LATROBE',
  ['Sunshine West', 'Surrey Hills', 'Templestowe Lower', 'Thornbury']],
 ['MANNINGHAM', ['Toorak', 'Viewbank', 'Watsonia', 'West Melbourne']],
 ['MAROONDAH', ['Williamstown', 'Williamstown North', 'Windsor', 'Yallambie']],
 ['MITCHELL', ['Yarraville', 'Aberfeldie', 'Bellfield', 'Brunswick East']],
 ['STRATHBOGIE', ['Burnley', 'Campbellfield', 'Carlton', 'East Melbourne']],
 ['MONASH', ['Essendon West', 'Fawkner', 'Hawthorn East', 'Heidelberg']],
 ['ALPINE', ['Ivanhoe East', 'Jacana', 'Kingsbury', 'Kingsville']],
 ['MOIRA', ['Murrumbeena', 'Ormond', 'West Footscray', 'Albion']],
 ['WANGARATTA',
  ['Brooklyn', 'Glen Huntly', 'Oakleigh', 'Ripponlea', 'Macleod']],
 ['WELLINGTON',
  ['Cremorne', 'Docklands', 'South Kingsville', 'Strathmore Heights']],
 ['WHITEHORSE', ['Travancore', 'Caulfield East', 'Seaholme', 'Keilor Park']],
 ['INDIGO', ['Gardenvale', 'Princes Hill', 'Bayswater', 'Bayswater North']],
 ['TOWONG', ['Beaumaris', 'Berwick', 'Boronia', 'Briar Hill']],
 ['WODONGA', ['Broadmeadows', 'Bundoora', 'Burnside Heights', 'Burwood East']],
 ['YARRA RANGES',
  ['Cairnlea', 'Caroline Springs', 'Cheltenham', 'Craigieburn']],
 ['CARDINIA', ['Cranbourne', 'Croydon', 'Dandenong', 'Dandenong North']],
 ['CASEY', ['Diamond Creek', 'Dingley Village', 'Doncaster East', 'Donvale']],
 ['FRANKSTON', ['Doreen', 'Eltham', 'Epping', 'Forest Hill', 'Lilydale']],
 ['BAYSIDE', ['Frankston', 'Frankston North', 'Frankston South', 'Gisborne']],
 ['GLEN EIRA', ['Gladstone Park', 'Greensborough', 'Hallam', 'Healesville']],
 ['GREATER DANDENONG', ['Highett', 'Hillside', 'Huntingdale', 'Keilor Downs']],
 ['KINGSTON',
  ['Keilor Lodge', 'Keysborough', 'Kings Park', 'Lalor', 'Laverton North']],
 ['MORNINGTON PENINSULA', ['Lower Plenty', 'Melton', 'Mernda', 'Mill Park']],
 ['PORT PHILLIP', ['Mitcham', 'Montmorency', 'Mordialloc', 'Mount Waverley']],
 ['STONNINGTON', ['Narre Warren', 'Nunawading', 'Oakleigh East', 'Parkdale']],
 ['BALLARAT',
  ['Point Cook', 'Ringwood East', 'Rockbank', 'Rowville', 'Lysterfield']],
 ['PYRENEES',
  ['Sandringham', 'Seaford', 'Skye', 'South Morang', 'Eumemmerring']],
 ['GREATER BENDIGO', ['Springvale', 'St Albans', 'Sunbury', 'Tarneit']],
 ['CAMPASPE',
  ['Taylors Hill', 'Taylors Lakes', 'The Basin', 'Thomastown', 'Wattle Glen']],
 ['CENTRAL GOLDFIELDS', ['Truganina', 'Tullamarine', 'Vermont', 'Wantirna']],
 ['LODDON', ['Wantirna South', 'Werribee', 'Westmeadows', 'Williams Landing']],
 ['GREATER GEELONG', ['Wollert', 'Wyndham Vale', 'Black Rock', 'Blackburn']],
 ['QUEENSCLIFFE',
  ['Blackburn North', 'Bonbeach', 'Carrum', 'Chelsea', 'Graeside']],
 ['HINDMARSH',
  ['Clayton', 'Doveton', 'Ferntree Gully', 'Glen Waverley', 'Yarrambat']],
 ['HORSHAM',
  ['Greenvale', 'Heathmont', 'Hoppers Crossing', 'McKinnon', 'Braeside']],
 ['WEST WIMMERA', ['Melton South', 'Melton West', 'Mentone', 'Mooroolbark']],
 ['MACEDON RANGES',
  ['Mulgrave', 'Ringwood', 'Roxburgh Park', 'Seabrook', 'Warranwood']],
 ['MOUNT ALEXANDER',
  ['Templestowe', 'Vermont South', 'Warrandyte', 'Watsonia North']],
 ['MILDURA',
  ['Wheelers Hill', 'Altona Meadows', 'Blackburn South', 'Carrum Downs']],
 ['GOLDEN PLAINS',
  ['Clayton South', 'Croydon North', 'Langwarrin', 'Noble Park']],
 ['HEPBURN',
  ['Notting Hill',
   'Ringwood North',
   'Sydenham',
   'Albanvale',
   'Upper Ferntree Gully']],
 ['MOORABOOL',
  ['Beaconsfield Upper',
   'Chelsea Heights',
   'Dallas',
   'Deer Park',
   'Research']],
 ['ARARAT', ['Eltham North', 'Keilor', 'Meadow Heights', 'Mount Evelyn']],
 ['NORTHERN GRAMPIANS',
  ['North Warrandyte', 'Pakenham', 'Riddells Creek', 'Sandhurst']],
 ['YARRIAMBIACK', ['Scoresby', 'Silvan', 'Aspendale', 'Chirnside Park']],
 ['GLENELG', ['Croydon Hills', 'Croydon South', 'Derrimut', 'Diggers Rest']],
 ['SOUTHERN GRAMPIANS',
  ['Edithvale', 'Hampton Park', 'Knoxfield', 'St Helena']],
 ['COLAC-OTWAY', ['Upwey', 'Bacchus Marsh', 'Coolaroo', 'Cranbourne North']],
 ['SURF COAST',
  ['Kilsyth',
   'Montrose',
   'Aspendale Gardens',
   'Bullengarook',
   'Dandenong South']],
 ['BULOKE', ['Clarinda', 'Deepdene', 'Delahey', 'Hurstbridge']],
 ['GANNAWARRA', ['Kurunjang', 'Wonga Park', 'Endeavour Hills', 'Officer']],
 ['SWAN HILL', ['Waterways', 'Ardeer', 'Beaconsfield', 'Springvale South']],
 ['CORANGAMITE',
  ['Yarra Glen', 'Brookfield', 'Emerald', 'Whittlesea', 'Kilsyth South']],
 ['MOYNE', ['Burnside', 'Attwood', 'Wallan', 'New Gisborne', 'St Kilda East']],
 ['WARRNAMBOOL',
  ['Plumpton', 'Monbulk', 'Manor Lakes', 'Harkness', 'Fraser Rise']]]

Since it looks good now, we'll store this extracted information in a dictionary '`lga_dict`', where the key is the LGA and the value will be the corresponding list of suburbs.
Using this dictionary we'll assign the LGA for each row.

In [41]:
lga_dict = dict()

for idx in range(len(lga_list)):
    lga_dict[lga_list[idx][0]] = lga_list[idx][1]

In [42]:
lga_dict

{'BANYULE': ['Abbotsford', 'Airport West', 'Albert Park', 'Alphington'],
 'BRIMBANK': ['Altona', 'Altona North', 'Armadale', 'Ascot Vale'],
 'DAREBIN': ['Ashburton', 'Ashwood', 'Avondale Heights', 'Balaclava'],
 'HOBSONS BAY': ['Balwyn', 'Balwyn North', 'Bentleigh', 'Bentleigh East'],
 'HUME': ['Box Hill', 'Braybrook', 'Brighton', 'Brighton East'],
 'MARIBYRNONG': ['Brunswick', 'Brunswick West', 'Bulleen', 'Burwood'],
 'MELBOURNE': ['Camberwell', 'Canterbury', 'Carlton North', 'Carnegie'],
 'MELTON': ['Caulfield', 'Caulfield North', 'Caulfield South', 'Chadstone'],
 'MOONEE VALLEY': ['Clifton Hill', 'Coburg', 'Coburg North', 'Collingwood'],
 'MORELAND': ['Doncaster', 'Eaglemont', 'Elsternwick', 'Elwood'],
 'NILLUMBIK': ['Essendon', 'Essendon North', 'Fairfield', 'Fitzroy', 'Plenty'],
 'WHITTLESEA': ['Fitzroy North', 'Flemington', 'Footscray', 'Glen Iris'],
 'WYNDHAM': ['Glenroy', 'Gowanbrae', 'Hadfield', 'Hampton'],
 'YARRA': ['Hampton East',
  'Hawthorn',
  'Heidelberg Heights',
  'Heidelberg West'],
 'BASS COAST': ['Hughesdale', 'Ivanhoe', 'Kealba', 'Keilor East'],
 'SOUTH GIPPSLAND': ['Kensington', 'Kew', 'Kew East', 'Kooyong', 'Heatherton'],
 'BAW BAW': ['Maidstone', 'Malvern', 'Malvern East', 'Maribyrnong'],
 'BENALLA': ['Melbourne', 'Middle Park', 'Mont Albert', 'Moonee Ponds'],
 'MANSFIELD': ['Moorabbin', 'Newport', 'Niddrie', 'North Melbourne'],
 'MURRINDINDI': ['Northcote',
  'Oak Park',
  'Oakleigh South',
  'Parkville',
  'Laverton'],
 'BOROONDARA': ['Pascoe Vale', 'Port Melbourne', 'Prahran', 'Preston'],
 'EAST GIPPSLAND': ['Reservoir', 'Richmond', 'Rosanna', 'Seddon'],
 'GREATER SHEPPARTON': ['South Melbourne',
  'South Yarra',
  'Southbank',
  'Spotswood'],
 'KNOX': ['St Kilda', 'Strathmore', 'Sunshine', 'Sunshine North'],
 'LATROBE': ['Sunshine West',
  'Surrey Hills',
  'Templestowe Lower',
  'Thornbury'],
 'MANNINGHAM': ['Toorak', 'Viewbank', 'Watsonia', 'West Melbourne'],
 'MAROONDAH': ['Williamstown', 'Williamstown North', 'Windsor', 'Yallambie'],
 'MITCHELL': ['Yarraville', 'Aberfeldie', 'Bellfield', 'Brunswick East'],
 'STRATHBOGIE': ['Burnley', 'Campbellfield', 'Carlton', 'East Melbourne'],
 'MONASH': ['Essendon West', 'Fawkner', 'Hawthorn East', 'Heidelberg'],
 'ALPINE': ['Ivanhoe East', 'Jacana', 'Kingsbury', 'Kingsville'],
 'MOIRA': ['Murrumbeena', 'Ormond', 'West Footscray', 'Albion'],
 'WANGARATTA': ['Brooklyn', 'Glen Huntly', 'Oakleigh', 'Ripponlea', 'Macleod'],
 'WELLINGTON': ['Cremorne',
  'Docklands',
  'South Kingsville',
  'Strathmore Heights'],
 'WHITEHORSE': ['Travancore', 'Caulfield East', 'Seaholme', 'Keilor Park'],
 'INDIGO': ['Gardenvale', 'Princes Hill', 'Bayswater', 'Bayswater North'],
 'TOWONG': ['Beaumaris', 'Berwick', 'Boronia', 'Briar Hill'],
 'WODONGA': ['Broadmeadows', 'Bundoora', 'Burnside Heights', 'Burwood East'],
 'YARRA RANGES': ['Cairnlea', 'Caroline Springs', 'Cheltenham', 'Craigieburn'],
 'CARDINIA': ['Cranbourne', 'Croydon', 'Dandenong', 'Dandenong North'],
 'CASEY': ['Diamond Creek', 'Dingley Village', 'Doncaster East', 'Donvale'],
 'FRANKSTON': ['Doreen', 'Eltham', 'Epping', 'Forest Hill', 'Lilydale'],
 'BAYSIDE': ['Frankston', 'Frankston North', 'Frankston South', 'Gisborne'],
 'GLEN EIRA': ['Gladstone Park', 'Greensborough', 'Hallam', 'Healesville'],
 'GREATER DANDENONG': ['Highett', 'Hillside', 'Huntingdale', 'Keilor Downs'],
 'KINGSTON': ['Keilor Lodge',
  'Keysborough',
  'Kings Park',
  'Lalor',
  'Laverton North'],
 'MORNINGTON PENINSULA': ['Lower Plenty', 'Melton', 'Mernda', 'Mill Park'],
 'PORT PHILLIP': ['Mitcham', 'Montmorency', 'Mordialloc', 'Mount Waverley'],
 'STONNINGTON': ['Narre Warren', 'Nunawading', 'Oakleigh East', 'Parkdale'],
 'BALLARAT': ['Point Cook',
  'Ringwood East',
  'Rockbank',
  'Rowville',
  'Lysterfield'],
 'PYRENEES': ['Sandringham',
  'Seaford',
  'Skye',
  'South Morang',
  'Eumemmerring'],
 'GREATER BENDIGO': ['Springvale', 'St Albans', 'Sunbury', 'Tarneit'],
 'CAMPASPE': ['Taylors Hill',
  'Taylors Lakes',
  'The Basin',
  'Thomastown',
  'Wattle Glen'],
 'CENTRAL GOLDFIELDS': ['Truganina', 'Tullamarine', 'Vermont', 'Wantirna'],
 'LODDON': ['Wantirna South', 'Werribee', 'Westmeadows', 'Williams Landing'],
 'GREATER GEELONG': ['Wollert', 'Wyndham Vale', 'Black Rock', 'Blackburn'],
 'QUEENSCLIFFE': ['Blackburn North',
  'Bonbeach',
  'Carrum',
  'Chelsea',
  'Graeside'],
 'HINDMARSH': ['Clayton',
  'Doveton',
  'Ferntree Gully',
  'Glen Waverley',
  'Yarrambat'],
 'HORSHAM': ['Greenvale',
  'Heathmont',
  'Hoppers Crossing',
  'McKinnon',
  'Braeside'],
 'WEST WIMMERA': ['Melton South', 'Melton West', 'Mentone', 'Mooroolbark'],
 'MACEDON RANGES': ['Mulgrave',
  'Ringwood',
  'Roxburgh Park',
  'Seabrook',
  'Warranwood'],
 'MOUNT ALEXANDER': ['Templestowe',
  'Vermont South',
  'Warrandyte',
  'Watsonia North'],
 'MILDURA': ['Wheelers Hill',
  'Altona Meadows',
  'Blackburn South',
  'Carrum Downs'],
 'GOLDEN PLAINS': ['Clayton South',
  'Croydon North',
  'Langwarrin',
  'Noble Park'],
 'HEPBURN': ['Notting Hill',
  'Ringwood North',
  'Sydenham',
  'Albanvale',
  'Upper Ferntree Gully'],
 'MOORABOOL': ['Beaconsfield Upper',
  'Chelsea Heights',
  'Dallas',
  'Deer Park',
  'Research'],
 'ARARAT': ['Eltham North', 'Keilor', 'Meadow Heights', 'Mount Evelyn'],
 'NORTHERN GRAMPIANS': ['North Warrandyte',
  'Pakenham',
  'Riddells Creek',
  'Sandhurst'],
 'YARRIAMBIACK': ['Scoresby', 'Silvan', 'Aspendale', 'Chirnside Park'],
 'GLENELG': ['Croydon Hills', 'Croydon South', 'Derrimut', 'Diggers Rest'],
 'SOUTHERN GRAMPIANS': ['Edithvale', 'Hampton Park', 'Knoxfield', 'St Helena'],
 'COLAC-OTWAY': ['Upwey', 'Bacchus Marsh', 'Coolaroo', 'Cranbourne North'],
 'SURF COAST': ['Kilsyth',
  'Montrose',
  'Aspendale Gardens',
  'Bullengarook',
  'Dandenong South'],
 'BULOKE': ['Clarinda', 'Deepdene', 'Delahey', 'Hurstbridge'],
 'GANNAWARRA': ['Kurunjang', 'Wonga Park', 'Endeavour Hills', 'Officer'],
 'SWAN HILL': ['Waterways', 'Ardeer', 'Beaconsfield', 'Springvale South'],
 'CORANGAMITE': ['Yarra Glen',
  'Brookfield',
  'Emerald',
  'Whittlesea',
  'Kilsyth South'],
 'MOYNE': ['Burnside', 'Attwood', 'Wallan', 'New Gisborne', 'St Kilda East'],
 'WARRNAMBOOL': ['Plumpton',
  'Monbulk',
  'Manor Lakes',
  'Harkness',
  'Fraser Rise']}

#### 3.3.2 'lga' column

Using the dictionary from above, we'll assign the LGA for each row.

In [43]:
df['lga'] = 'Not available'  #addition of new column, 'lga', with default value 'Not available'

In [44]:
for idx in list(df.index):
    suburb = df['suburb'][idx]  #extract the suburb value for the row
    for lga, suburbs in lga_dict.items():
        suburbs = [suburb.upper() for suburb in suburbs]  #upper method for conversion of each suburb to uppercase suburb value for matching  
        if suburb.upper() in suburbs:  #checking if the suburb exists in the list 'suburbs'
            df.at[idx, 'lga'] = lga  #if yes, corresponding LGA is assigned

In [45]:
df

,property_id,lat,lng,addr_street,suburb,lga
0,91099,-37.956402,145.072540,99 Herald Street,CHELTENHAM,YARRA RANGES
1,65182,-37.806590,145.317902,18 Kilsyth Avenue,KILSYTH,SURF COAST
2,17661,-37.698942,144.909829,73 AUGUSTINE TERRACE,GLENROY,WYNDHAM
3,46534,-37.706180,145.139217,125 Ryans Road,ELTHAM NORTH,ARARAT
4,87356,-37.939583,145.014479,133 Thomas Street,HAMPTON,WYNDHAM
...,...,...,...,...,...,...
2247,60069,-37.810080,145.200907,5 Tourello Street,MITCHAM,PORT PHILLIP
2248,56038,-37.822793,145.066628,95 Broadway,CAMBERWELL,MELBOURNE
2249,63480,-37.783340,145.287864,13 Aminga Court,CROYDON,CARDINIA
2251,80587,-37.989635,145.171660,9 Wannon Court,KEYSBOROUGH,KINGSTON
2252,28523,-37.798172,144.991745,156 Easey Street,COLLINGWOOD,MOONEE VALLEY

### 3.4 GTFS Data

First, we'll have a look at what the files are:

In [46]:
agency = pd.read_csv("Vic_GTFS_data -20211012T112155Z-001/Vic_GTFS_data/metropolitan/agency.txt")
agency

,agency_id,agency_name,agency_url,agency_timezone,agency_lang
0,1,PTV,http://www.ptv.vic.gov.au,Australia/Melbourne,EN

In [47]:
calendar = pd.read_csv("Vic_GTFS_data -20211012T112155Z-001/Vic_GTFS_data/metropolitan/calendar.txt")
calendar.head()

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,T2,0,0,0,0,0,1,0,20151009,20151011
1,UJ,0,0,0,0,0,0,1,20151009,20151011
2,T6,0,0,0,0,1,0,0,20151009,20151011
3,T5,1,1,1,1,0,0,0,20151012,20151015
4,T2_1,0,0,0,0,0,1,0,20151016,20151018

In [48]:
calendar.shape

(19, 10)

In [49]:
calendar_dates = pd.read_csv("Vic_GTFS_data -20211012T112155Z-001/Vic_GTFS_data/metropolitan/calendar_dates.txt")
calendar_dates

  service_id      date  exception_type
0         T0  20151103               2
1      T0+a5  20151103               2

In [50]:
routes = pd.read_csv("Vic_GTFS_data -20211012T112155Z-001/Vic_GTFS_data/metropolitan/routes.txt")
routes.head()

,route_id,agency_id,route_short_name,route_long_name,route_type
0,2-ALM-B-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
1,2-ALM-C-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
2,2-ALM-D-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
3,2-ALM-E-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
4,2-ALM-F-mjp-1,1,Alamein,Alamein - City (Flinders Street),2

In [51]:
routes.shape

(81, 5)

In [52]:
shapes = pd.read_csv("Vic_GTFS_data -20211012T112155Z-001/Vic_GTFS_data/metropolitan/shapes.txt")
shapes.head()

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled
0,2-ain-mjp-1.1.H,-37.818631,144.951994,1,0.000000
1,2-ain-mjp-1.1.H,-37.817425,144.951050,2,157.543645
2,2-ain-mjp-1.1.H,-37.817241,144.950828,3,185.827916
3,2-ain-mjp-1.1.H,-37.816327,144.950047,4,308.469671
4,2-ain-mjp-1.1.H,-37.816127,144.949950,5,332.239399

In [53]:
shapes.shape

(339711, 5)

In [54]:
stop_times = pd.read_csv("Vic_GTFS_data -20211012T112155Z-001/Vic_GTFS_data/metropolitan/stop_times.txt")
stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,17182517.T2.2-ALM-B-mjp-1.1.H,04:57:00,04:57:00,19847,1,NaN,0,0,0.000000
1,17182517.T2.2-ALM-B-mjp-1.1.H,04:58:00,04:58:00,19848,2,NaN,0,0,723.017818
2,17182517.T2.2-ALM-B-mjp-1.1.H,05:00:00,05:00:00,19849,3,NaN,0,0,1951.735072
3,17182517.T2.2-ALM-B-mjp-1.1.H,05:02:00,05:02:00,19850,4,NaN,0,0,2899.073349
4,17182517.T2.2-ALM-B-mjp-1.1.H,05:04:00,05:04:00,19851,5,NaN,0,0,3927.090952

In [55]:
stop_times.shape

(390305, 9)

In [56]:
stops = pd.read_csv("Vic_GTFS_data -20211012T112155Z-001/Vic_GTFS_data/metropolitan/stops.txt")
stops.head()

,stop_id,stop_name,stop_short_name,stop_lat,stop_lon
0,15351,Sunbury Railway Station,Sunbury,-37.579091,144.727319
1,15353,Diggers Rest Railway Station,Diggers Rest,-37.627017,144.719922
2,19827,Stony Point Railway Station,Crib Point,-38.374235,145.221837
3,19828,Crib Point Railway Station,Crib Point,-38.366123,145.204043
4,19829,Morradoo Railway Station,Crib Point,-38.354033,145.189602

In [57]:
stops.shape

(218, 5)

In [58]:
trips = pd.read_csv("Vic_GTFS_data -20211012T112155Z-001/Vic_GTFS_data/metropolitan/trips.txt")
trips.head()

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id
0,2-ALM-F-mjp-1,T0,17067982.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
1,2-ALM-F-mjp-1,T0,17067988.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
2,2-ALM-F-mjp-1,T0,17067992.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
3,2-ALM-F-mjp-1,T0,17067999.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
4,2-ALM-F-mjp-1,T0,17068003.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0

In [59]:
trips.shape

(23809, 6)

#### 3.4.1 'closest_train_station_id' and 'distance_to_closest_train_station' columns

The '`stops`' dataframe holds information of all train stations and hence will be used to calculate for each property the closest train station and the distance (based on Haversine formula).

In [60]:
#addition of two new columns with their default values
df['closest_train_station_id'] = 0
df['distance_to_closest_train_station'] = 0.0

In [61]:
def closestStation(source, destination):
    
    '''
    This function will return the closest station (destination) for a given property (source) based on the
    Haversine distance.
    The coordinates of both the source and destination will be extracted and converted to radians.
    The distance (in km) is calculated using the Haversine formula.
    '''
    
    x1, y1 = source[0], source[1]  #source/property latitude and longitude
    x2, y2 = destination[0], destination[1]  #destination/train station latitude and longitude
    #converting lats and long to radians, as sine and cosine functions produce proper output here in terms of radians
    x1 = ((x1) * math.pi) / 180
    x2 = ((x2) * math.pi) / 180
    y1 = ((y1) * math.pi) / 180
    y2 = ((y2) * math.pi) / 180
    radius = 6378
    result = (((math.sin((x2 - x1)/2)) ** 2) + ((math.cos(x1) * math.cos(x2)) * ((math.sin((y2 - y1)/2)) ** 2)))
    distance = 2 * radius * math.asin(math.sqrt(result))
    return distance

The coordinates for each train station will be stored in a dictionary named '`destination_dict`', that'll be used for calculating the distance between each property and these train stations to pick the closest one based on the distance that'll be calculated using the above defined function.

In [62]:
destination_dict = dict()

stops_list = stops['stop_id'].tolist()  #storing all train station ids in a list

for idx in list(stops.index):  
    coords = (stops['stop_lat'][idx], stops['stop_lon'][idx])  #extraction of coordinates of each station
    destination_dict[stops_list[idx]] = coords  #storing the coordinates as value in the dictionary with each station as key

In [63]:
destination_dict

{15351: (-37.579090970578704, 144.727318781329),
 15353: (-37.627016514935704, 144.719922441113),
 19827: (-38.3742345364937, 145.221837462187),
 19828: (-38.3661233827862, 145.204043321601),
 19829: (-38.35403333658439, 145.189602487712),
 19830: (-38.3373903202406, 145.178026527511),
 19831: (-38.3056585273722, 145.185979882012),
 19832: (-38.2598150046916, 145.186400708984),
 19833: (-38.2253419593114, 145.17624491889998),
 19834: (-38.1940430573051, 145.16052608761498),
 19835: (-37.8593084165858, 145.058224898221),
 19836: (-38.1520339975222, 145.139533963382),
 19837: (-37.8689568446092, 145.06295082624501),
 19838: (-37.8769300156728, 145.0693930023),
 19839: (-37.874402220049795, 145.090662027436),
 19840: (-37.873603393318795, 145.112090156436),
 19841: (-37.811981307380705, 144.955653760429),
 19842: (-37.809938766738604, 144.962593535096),
 19843: (-37.8110540555305, 144.972910916416),
 19844: (-37.909102097471205, 145.35529128285802),
 19845: (-37.9081184864021, 145.34299457766198),
 19846: (-37.9036909717454, 145.331333355214),
 19847: (-37.8683203919866, 145.079655668512),
 19848: (-37.8619675331692, 145.081343759057),
 19849: (-37.8515632823172, 145.080511068965),
 19850: (-37.8439845657174, 145.075559591232),
 19851: (-37.835715650535896, 145.070297555357),
 19852: (-37.8315054341723, 145.069645982205),
 19853: (-37.8265671441669, 145.058697177155),
 19854: (-37.8183051340585, 144.966964346166),
 19855: (-38.1429900671654, 145.126162282251),
 19856: (-38.121742033539, 145.13529534058),
 19857: (-38.104021039668005, 145.128230402217),
 19858: (-38.0748929182559, 145.122418267271),
 19859: (-38.0629447836562, 145.119680438871),
 19860: (-38.051955383788204, 145.11604132674802),
 19861: (-38.0380560155673, 145.108535545056),
 19862: (-38.0272201944523, 145.102149616841),
 19863: (-38.006582950761796, 145.08765935746),
 19864: (-37.9930788207759, 145.076326823728),
 19865: (-37.9818654019494, 145.065165898742),
 19866: (-37.966649894434205, 145.05455793302602),
 19867: (-37.8926717009388, 145.307530188155),
 19868: (-37.8816979923577, 145.295251256598),
 19869: (-37.8604517998444, 145.28438514597),
 19870: (-37.8417300410993, 145.268136389217),
 19871: (-37.828322272538294, 145.244555375848),
 19872: (-37.9484250041841, 145.041871797791),
 19873: (-37.8795040720089, 145.16205754962098),
 19874: (-37.8762296254895, 145.149780487778),
 19875: (-37.8752552557019, 145.128055695744),
 19876: (-37.7555177718931, 145.347710240852),
 19877: (-37.7847488250808, 145.312402399118),
 19878: (-37.7954369700624, 145.280597770769),
 19879: (-37.811968042776, 145.250190905264),
 19880: (-38.0806139738066, 145.486379074704),
 19881: (-38.066145716864796, 145.41098723091002),
 19882: (-38.050831351782605, 145.366073739227),
 19883: (-38.04040829049929, 145.34572608550502),
 19884: (-38.0278093151679, 145.303969385674),
 19885: (-38.0177403817805, 145.269776796453),
 19886: (-38.0995373065849, 145.280598975647),
 19887: (-38.0790004761497, 145.263511372935),
 19888: (-37.9899679153812, 145.209725368166),
 19889: (-37.978254535925295, 145.191600276299),
 19890: (-37.9672319330584, 145.176935735141),
 19891: (-37.956504569855596, 145.162825890396),
 19892: (-37.825894190533106, 145.06819024741),
 19893: (-37.8244851789179, 145.081224242904),
 19894: (-37.8242995185069, 145.088647930425),
 19895: (-37.82414805490921, 145.098774680388),
 19896: (-37.819426545880795, 145.105530369113),
 19897: (-37.8207802338117, 145.140702708531),
 19898: (-37.8200707463673, 145.150013542281),
 19899: (-37.8206031722516, 145.174891721882),
 19900: (-37.8180098744252, 145.191973500271),
 19901: (-37.818895372942706, 145.212787203183),
 19902: (-37.8158864821449, 145.228968460052),
 19903: (-37.8223983064618, 145.04584365713),
 19904: (-37.8214668222115, 145.036438832309),
 19905: (-37.82182600897129, 145.022898658759),
 19906: (-37.8275602161665, 145.007555147088),
 19907: (-37.8263999511153, 144.997065693883),
 19908: (-37.82407445542479, 144.990164256273),
 19909: (-37.8346724432589, 145.022635270015),
 19910: (-37.8399289425903, 145.03355160638398),
 19911: (-37.849365534175206, 145.04173374383302),
 19912: (-37.8532790774224, 145.051654659477),
 19913: (-37.949508781663, 145.153451830727),
 19914: (-37.938491213899, 145.13883262698),
 19915: (-37.9246825520153, 145.12053436025698),
 19916: (-37.9110173407217, 145.102364317185),
 19917: (-37.900372141144, 145.08830786927),
 19918: (-37.8948812946199, 145.077635086297),
 19919: (-37.8901983179693, 145.067374870414),
 19920: (-37.8862414786323, 145.058575063543),
 19921: (-37.8993780465601, 144.661118011171),
 19922: (-37.8832761791168, 144.700954931478),
 19923: (-37.8636940413851, 144.77261666795602),
 19924: (-37.866605946295294, 144.760809437357),
 19925: (-37.865163483657604, 144.813493563455),
 19926: (-37.867147596004706, 144.829644740664),
 19927: (-37.8678423061915, 144.840957728627),
 19928: (-37.780620697455895, 144.999233186635),
 19929: (-37.779187287481, 145.008241630012),
 19930: (-37.7791712565636, 145.016905299916),
 19931: (-37.778393631701604, 145.031254932307),
 19932: (-37.7749634109414, 145.038475977422),
 19933: (-37.7688967438294, 145.04542518831101),
 19934: (-37.763585533593606, 145.05394269101402),
 19935: (-37.7570729333161, 145.060685522992),
 19936: (-37.7428786002719, 145.066140290226),
 19937: (-37.9343532865884, 145.036738286425),
 19938: (-37.925149188298, 145.035470026499),
 19939: (-37.917424572925796, 145.03699513420798),
 19940: (-37.9103090338988, 145.038298971504),
 19941: (-37.90321167030471, 145.039613418163),
 19942: (-37.889719461967296, 145.042222854186),
 19943: (-37.8774594614914, 145.042524781036),
 19944: (-37.8662532993077, 145.029293938791),
 19945: (-37.8564523828025, 145.019325537875),
 19946: (-37.8507738052708, 145.013908582451),
 19947: (-37.8445908738041, 145.002142057363),
 19948: (-37.9503301772263, 145.004561358882),
 19949: (-37.9379768129133, 145.00147057003),
 19950: (-37.9264843202728, 144.989153550272),
 19951: (-37.9151344061991, 144.99629908837602),
 19952: (-37.904887213414796, 145.00260503336),
 19953: (-37.896695075237396, 145.004168434303),
 19954: (-37.8847531121206, 145.000897873416),
 19955: (-37.8759064268322, 144.995236558908),
 19956: (-37.8694877274449, 144.993512099451),
 19957: (-37.8560530796968, 144.992035170295),
 19958: (-37.849518484585296, 144.989859924303),
 19959: (-37.8384493490771, 144.992342213835),
 19960: (-37.6660777887279, 144.946739938663),
 19961: (-37.7006779971249, 144.958874324034),
 19962: (-37.7146212867289, 144.960545025448),
 19963: (-37.720933891181204, 144.961313546073),
 19964: (-37.7335228508837, 144.962840551625),
 19965: (-37.7423450211381, 144.963336336826),
 19966: (-37.754484843007795, 144.961823032047),
 19967: (-37.7612420288492, 144.96068404354799),
 19968: (-37.7677205467189, 144.95958653625098),
 19969: (-37.7749870223388, 144.958716910938),
 19970: (-37.781192929907206, 144.952301268806),
 19971: (-37.7881399497849, 144.93932328277398),
 19972: (-37.794266731732606, 144.936166325307),
 19973: (-37.80630983534729, 144.94151017321002),
 19974: (-37.788657453149206, 144.995416701875),
 19975: (-37.7991578245232, 144.994451425812),
 19976: (-37.8045259264571, 144.993749666428),
 19977: (-37.810398356472994, 144.992500261754),
 19978: (-37.8149489647723, 144.991422784198),
 19979: (-37.8165270224388, 144.984098336822),
 19983: (-37.7260123045348, 145.069143320058),
 19984: (-37.710957976957296, 145.083793381187),
 19985: (-37.7039540802734, 145.108247408528),
 19986: (-37.7152962435564, 145.121515737914),
 19987: (-37.7135496724624, 145.147822019567),
 19988: (-37.6732974392921, 145.15850619152),
 19989: (-37.6639679229939, 145.181614533441),
 19990: (-37.6393981687758, 145.192016891245),
 19991: (-37.867752916655895, 144.90532330891702),
 19992: (-37.8639818878493, 144.894483676562),
 19993: (-37.857333476648, 144.889069465486),
 19994: (-37.8427175700734, 144.883599911799),
 19995: (-37.8306388752155, 144.885933453191),
 19996: (-37.8158504436292, 144.889933707057),
 19997: (-37.8090051386731, 144.895671569116),
 20000: (-37.7011287184526, 144.77418045437),
 20001: (-37.7292793433497, 144.793738065375),
 20002: (-37.7448613127395, 144.800050450996),
 20003: (-37.757510831331395, 144.809573352298),
 20004: (-37.7776528079371, 144.82470360777398),
 20005: (-37.6523871461158, 145.030121682956),
 20006: (-37.6658507466575, 145.017193167351),
 20007: (-37.680338088895, 145.01427887056002),
 20008: (-37.6948701213679, 145.01188381769302),
 20009: (-37.7078975350625, 145.0095166168),
 20010: (-37.71688491634821, 145.006995821329),
 20011: (-37.728402771293, 145.002772560524),
 20012: (-37.7386742406, 145.000521982623),
 20013: (-37.745562121809, 145.00015503358802),
 20014: (-37.75505179292829, 144.998571518715),
 20015: (-37.764101002219896, 144.997056186716),
 20016: (-37.7698653716401, 144.99527720992398),
 20017: (-37.7778466758725, 144.992972480498),
 20019: (-37.7832171114697, 144.992407080112),
 20021: (-37.788536331924604, 144.832878204953),
 20022: (-37.7992508990822, 144.862944937737),
 20023: (-37.80180870412521, 144.88532479444598),
 20024: (-37.8025046951241, 144.891472083864),
 20025: (-37.801082979087795, 144.90319921519),
 20026: (-37.7995308742589, 144.925469007521),
 20027: (-37.787201923265, 144.907588697812),
 20028: (-37.7834721968038, 144.914256890322),
 20030: (-37.6830492642064, 144.919613216031),
 20031: (-37.69513078513, 144.915850518758),
 20032: (-37.704536330230106, 144.917220403897),
 20033: (-37.717949728718295, 144.921518773078),
 20034: (-37.7307559550065, 144.928195624317),
 20035: (-37.7435913223491, 144.927315711579),
 20036: (-37.747209846419395, 144.920938683118),
 20037: (-37.75601169508471, 144.916197501013),
 20038: (-37.7657066626859, 144.91916069591102),
 20039: (-37.7753060851406, 144.921820740203),
 20040: (-37.7873276708958, 144.928978466737),
 20041: (-37.793780219493, 144.930524437443),
 20042: (-37.819221654250605, 145.12142893440202),
 22180: (-37.817936427529396, 144.951411219785),
 40220: (-37.638231206057704, 144.935403682146),
 40221: (-37.6018169039432, 144.943320312888),
 44817: (-37.6610025309683, 144.92605556678),
 45793: (-38.0573411764351, 145.249275114245),
 45794: (-38.0712904706636, 145.437791007046),
 45795: (-37.6491587964667, 145.067032423831),
 46468: (-37.8698653272894, 144.747444719947)}

For each property, the distance between it and every train station in the '`destination_dict`' will be calculated by calling the '`closestStation`' function and stored in the dictionary '`distance_dict`'.
The minimum value/distance will be obtained using '`min()`' and the corresponding train station id will be extracted from the '`distance_dict`' dictionary. These will then be assigned, for that property, in the appropriate columns.

In [64]:
for idx in list(df.index):
    source = (df['lat'][idx], df['lng'][idx])  #extracting coordinates of the property
    
    distance_dict = dict()  
    
    #calculation of distance from property to each station
    for stop in destination_dict.keys(): 
        distance = closestStation(source, destination_dict[stop])
        distance_dict[stop] =  distance
        
    min_dist = min(distance_dict.values())
    stop_id = [stop for stop in distance_dict.keys() if distance_dict[stop] == min_dist]
    df.at[idx, 'closest_train_station_id'] = stop_id[0]  #assigns closest train station id
    df.at[idx, 'distance_to_closest_train_station'] = round(min_dist, 6)  #assigns the corresponding distance

In [65]:
df

,property_id,lat,lng,addr_street,suburb,lga,closest_train_station_id,distance_to_closest_train_station
0,91099,-37.956402,145.072540,99 Herald Street,CHELTENHAM,YARRA RANGES,19866,1.947320
1,65182,-37.806590,145.317902,18 Kilsyth Avenue,KILSYTH,SURF COAST,19877,2.478957
2,17661,-37.698942,144.909829,73 AUGUSTINE TERRACE,GLENROY,WYNDHAM,20031,0.679184
3,46534,-37.706180,145.139217,125 Ryans Road,ELTHAM NORTH,ARARAT,19987,1.116812
4,87356,-37.939583,145.014479,133 Thomas Street,HAMPTON,WYNDHAM,19949,1.155951
...,...,...,...,...,...,...,...,...
2247,60069,-37.810080,145.200907,5 Tourello Street,MITCHAM,PORT PHILLIP,19900,1.181700
2248,56038,-37.822793,145.066628,95 Broadway,CAMBERWELL,MELBOURNE,19892,0.371542
2249,63480,-37.783340,145.287864,13 Aminga Court,CROYDON,CARDINIA,19878,1.490612
2251,80587,-37.989635,145.171660,9 Wannon Court,KEYSBOROUGH,KINGSTON,19889,2.160029
2252,28523,-37.798172,144.991745,156 Easey Street,COLLINGWOOD,MOONEE VALLEY,19975,0.262132

#### 3.4.2 'travel_min_to_MC' and 'direct_journey_flag' columns

Since we've calculated the closest train station id for each property, we'll use it to check if there are any direct trips to the '`Melbourne Central Railway Station`'. If there are any ('`1`' will be added to the '`direct_journey_flag`' column), the rounded travel time will be added.

In [66]:
#addition of new columns with corresponding default values
df['travel_min_to_MC'] = "-1"
df['direct_journey_flag'] = -1

First, we'll find the '`stop_id`' of the '`Melbourne Central Railway Station`'.

In [67]:
stops[stops.stop_name == "Melbourne Central Railway Station"]

,stop_id,stop_name,stop_short_name,stop_lat,stop_lon
17,19842,Melbourne Central Railway Station,Melbourne City,-37.809939,144.962594

The '`calendars`' dataframe holds information regarding on what day the service (identified by '`service_id`') operates. Hence, we'll extract all those service ids that run on all weekdays only and store it in a list named '`service_weekdays`'.

In [68]:
calendar

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,T2,0,0,0,0,0,1,0,20151009,20151011
1,UJ,0,0,0,0,0,0,1,20151009,20151011
2,T6,0,0,0,0,1,0,0,20151009,20151011
3,T5,1,1,1,1,0,0,0,20151012,20151015
4,T2_1,0,0,0,0,0,1,0,20151016,20151018
5,UJ_1,0,0,0,0,0,0,1,20151016,20151018
6,T6_1,0,0,0,0,1,0,0,20151016,20151018
7,T5_1,1,1,1,1,0,0,0,20151019,20151022
8,T0,1,1,1,1,1,0,0,20151023,20151122
9,T2_2,0,0,0,0,0,1,0,20151023,20151122
10,UJ_2,0,0,0,0,0,0,1,20151023,20151122
11,T0+a6,0,0,0,0,1,0,0,20151023,20151122
12,T0+a5,1,1,1,1,0,0,0,20151023,20151122
13,T5+tg,1,1,0,0,0,0,0,20151012,20151015
14,T5+ph,0,0,1,1,0,0,0,20151012,20151015
15,T5+tg_1,1,1,0,0,0,0,0,20151019,20151022
16,T5+ph_1,0,0,1,1,0,0,0,20151019,20151022
17,T5+ao,1,0,0,0,0,0,0,20151012,20151015
18,T5+ta,0,1,1,1,0,0,0,20151012,20151015

In [69]:
service_weekdays = calendar[(calendar.monday == 1) & (calendar.tuesday == 1) & (calendar.wednesday == 1) & (calendar.thursday == 1) & (calendar.friday == 1)]['service_id'].tolist()
service_weekdays

['T0']

The '`trips`' dataframe includes information about trips (on what route it runs, the service day and the path it takes). Using the list '`service_weekdays`', we'll only keep those rows from the dataframe whose '`service_id`' exists in the list.

First, we'll create a copy dataframe of '`trips`', named '`trips_copy`', and perform the above mentioned steps.

In [70]:
trips_copy = trips.copy()
trips_copy

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id
0,2-ALM-F-mjp-1,T0,17067982.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
1,2-ALM-F-mjp-1,T0,17067988.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
2,2-ALM-F-mjp-1,T0,17067992.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
3,2-ALM-F-mjp-1,T0,17067999.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
4,2-ALM-F-mjp-1,T0,17068003.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
...,...,...,...,...,...,...
23804,2-WMN-F-mjp-1,UJ_2,17072252.UJ.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1
23805,2-WMN-F-mjp-1,UJ_2,17072256.UJ.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1
23806,2-WMN-F-mjp-1,UJ_2,17072260.UJ.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1
23807,2-WMN-F-mjp-1,UJ_2,17072264.UJ.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1
23808,2-WMN-F-mjp-1,UJ_2,17072268.UJ.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1

In [71]:
#dropping all those rows whose 'service_id' isn't a part of the 'service_weekdays' list
for idx in list(trips_copy.index):
    if trips_copy['service_id'][idx] not in service_weekdays:
        trips_copy.drop(idx, inplace = True)

We'll now merge this dataframe with the '`routes`' dataframe on the common column '`route_id`'. Later we'll merge this obtained dataframe with the '`stop_times`' dataframe to obtain '`merged_two`' dataframe.
The '`stop_times`' contains additional information of each trip, including the stop it serves and its sequence, along with the arrival and departure times, whereas, '`routes`' holds descriptive information about all the routes in the GTFS feed.

The '`merged_two`' dataframe can help us retrieve information regarding the direct trips/journeys along with the travel time to the '`Melbourne Central Railway Station`'.

In [72]:
merged_one = pd.merge(trips_copy, routes, on = 'route_id')
merged_one

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id,agency_id,route_short_name,route_long_name,route_type
0,2-ALM-F-mjp-1,T0,17067982.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0,1,Alamein,Alamein - City (Flinders Street),2
1,2-ALM-F-mjp-1,T0,17067988.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0,1,Alamein,Alamein - City (Flinders Street),2
2,2-ALM-F-mjp-1,T0,17067992.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0,1,Alamein,Alamein - City (Flinders Street),2
3,2-ALM-F-mjp-1,T0,17067999.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0,1,Alamein,Alamein - City (Flinders Street),2
4,2-ALM-F-mjp-1,T0,17068003.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0,1,Alamein,Alamein - City (Flinders Street),2
...,...,...,...,...,...,...,...,...,...,...
2318,2-WMN-F-mjp-1,T0,17072078.T0.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1,1,Williamstown,Williamstown - City (Flinders Street),2
2319,2-WMN-F-mjp-1,T0,17072082.T0.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1,1,Williamstown,Williamstown - City (Flinders Street),2
2320,2-WMN-F-mjp-1,T0,17072087.T0.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1,1,Williamstown,Williamstown - City (Flinders Street),2
2321,2-WMN-F-mjp-1,T0,17072091.T0.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1,1,Williamstown,Williamstown - City (Flinders Street),2
2322,2-WMN-F-mjp-1,T0,17072097.T0.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1,1,Williamstown,Williamstown - City (Flinders Street),2

In [73]:
merged_two = pd.merge(merged_one, stop_times, on = "trip_id")
merged_two

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id,agency_id,route_short_name,route_long_name,route_type,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,2-ALM-F-mjp-1,T0,17067982.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0,1,Alamein,Alamein - City (Flinders Street),2,05:01:00,05:01:00,19847,1,NaN,0,0,0.000000
1,2-ALM-F-mjp-1,T0,17067982.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0,1,Alamein,Alamein - City (Flinders Street),2,05:02:00,05:02:00,19848,2,NaN,0,0,723.017818
2,2-ALM-F-mjp-1,T0,17067982.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0,1,Alamein,Alamein - City (Flinders Street),2,05:04:00,05:04:00,19849,3,NaN,0,0,1951.735072
3,2-ALM-F-mjp-1,T0,17067982.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0,1,Alamein,Alamein - City (Flinders Street),2,05:06:00,05:06:00,19850,4,NaN,0,0,2899.073349
4,2-ALM-F-mjp-1,T0,17067982.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0,1,Alamein,Alamein - City (Flinders Street),2,05:08:00,05:08:00,19851,5,NaN,0,0,3927.090952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42895,2-WMN-F-mjp-1,T0,17072091.T0.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1,1,Williamstown,Williamstown - City (Flinders Street),2,23:59:00,23:59:00,19991,4,NaN,0,0,3641.811422
42896,2-WMN-F-mjp-1,T0,17072097.T0.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1,1,Williamstown,Williamstown - City (Flinders Street),2,24:33:00,24:33:00,19994,1,NaN,0,0,0.000000
42897,2-WMN-F-mjp-1,T0,17072097.T0.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1,1,Williamstown,Williamstown - City (Flinders Street),2,24:35:00,24:35:00,19993,2,NaN,0,0,1702.554760
42898,2-WMN-F-mjp-1,T0,17072097.T0.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1,1,Williamstown,Williamstown - City (Flinders Street),2,24:37:00,24:37:00,19992,3,NaN,0,0,2598.738912
42899,2-WMN-F-mjp-1,T0,17072097.T0.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1,1,Williamstown,Williamstown - City (Flinders Street),2,24:39:00,24:39:00,19991,4,NaN,0,0,3641.811422

Since we're only interested in direct journeys departing between 7-9 AM, we'll filter the '`merged_two`' dataframe to exclude records/rows that do not match this condition. Also, we'll drop some columns that are not relevant for our analysis.

In [74]:
merged_two = merged_two[((merged_two.departure_time >= "07:00:00") & (merged_two.departure_time <= "09:00:00"))]

In [75]:
merged_two.drop(['stop_headsign', 'pickup_type', 'drop_off_type', 'agency_id', 'route_short_name', 'route_type', 'shape_dist_traveled'], axis = 1, inplace = True)

C:\Users\Umasree\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [76]:
merged_two

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id,route_long_name,arrival_time,departure_time,stop_id,stop_sequence
310,2-ALM-F-mjp-1,T0,17068385.T0.2-ALM-F-mjp-1.2.H,2-ALM-F-mjp-1.2.H,City (Flinders Street),0,Alamein - City (Flinders Street),07:00:00,07:00:00,19904,9
311,2-ALM-F-mjp-1,T0,17068385.T0.2-ALM-F-mjp-1.2.H,2-ALM-F-mjp-1.2.H,City (Flinders Street),0,Alamein - City (Flinders Street),07:02:00,07:02:00,19905,10
312,2-ALM-F-mjp-1,T0,17068385.T0.2-ALM-F-mjp-1.2.H,2-ALM-F-mjp-1.2.H,City (Flinders Street),0,Alamein - City (Flinders Street),07:04:00,07:04:00,19906,11
313,2-ALM-F-mjp-1,T0,17068385.T0.2-ALM-F-mjp-1.2.H,2-ALM-F-mjp-1.2.H,City (Flinders Street),0,Alamein - City (Flinders Street),07:07:00,07:07:00,19908,13
314,2-ALM-F-mjp-1,T0,17068385.T0.2-ALM-F-mjp-1.2.H,2-ALM-F-mjp-1.2.H,City (Flinders Street),0,Alamein - City (Flinders Street),07:10:00,07:10:00,19843,14
...,...,...,...,...,...,...,...,...,...,...,...
42795,2-WMN-F-mjp-1,T0,17071157.T0.2-WMN-F-mjp-1.4.R,2-WMN-F-mjp-1.4.R,Williamstown,1,Williamstown - City (Flinders Street),08:57:00,08:57:00,19992,11
42797,2-WMN-F-mjp-1,T0,17071159.T0.2-WMN-F-mjp-1.4.R,2-WMN-F-mjp-1.4.R,Williamstown,1,Williamstown - City (Flinders Street),08:51:00,08:51:00,19854,1
42798,2-WMN-F-mjp-1,T0,17071159.T0.2-WMN-F-mjp-1.4.R,2-WMN-F-mjp-1.4.R,Williamstown,1,Williamstown - City (Flinders Street),08:54:00,08:54:00,22180,2
42799,2-WMN-F-mjp-1,T0,17071159.T0.2-WMN-F-mjp-1.4.R,2-WMN-F-mjp-1.4.R,Williamstown,1,Williamstown - City (Flinders Street),08:57:00,08:57:00,19973,3
42800,2-WMN-F-mjp-1,T0,17071159.T0.2-WMN-F-mjp-1.4.R,2-WMN-F-mjp-1.4.R,Williamstown,1,Williamstown - City (Flinders Street),09:00:00,09:00:00,20026,4

The below defined function will help in the calculation of the travel time. The function does the following:

For each property's closest station, the trip ids that include the station id are stored in the '`trips_ids`' list, where each trip id will be used to generate/produce a subset from the '`merged_two`' dataframe ('`subset`'). From the subset, we'll look if the '`stop_id`' of the '`Melbourne Central Railway Station`' is present or not. If it is, we can proceed to the next step, otherwise, it'll imply that this trip is not direct. The trip id in the latter case will be appended to the list '`no_trip`'.
Next, the '`stop_sequence`' value for both the '`Melbourne Central Railway Station`' (if present) and the closest station id are recorded. If the '`Melbourne Central Railway Station`' sequence value is greater than that of the closest station's, this trip is valid and direct and this trip id will be appended to the '`valid_trip`' list.
After going through all the trip ids from the '`trips_ids`' list, the length of the '`valid_trip`' list is checked. If the length is 0, there is no travel time to calculate (because no direct trips). Otherwise, for each subset (obtained by the trip ids from the '`valid_trip`' list) of the '`merged_two`' dataframe ('`df`'), the time difference (in minutes) between the arrival time at the '`Melbourne Central Railway Station`' and the departure time from the closest train station id is calculated and appended to the'`travel_time`' list. The rounded travel time is then calculated and returned.

In [77]:
def getTravelTime(station_id):
    
    '''
    This function returns the rounded travel time to MC, if direct trips/journeys exist from the
    property's closest train station, otherwise it returns 'Not available'.
    
    '''
    
    trip_ids = list()
    
    #extraction of all trip ids that contain the closest station id
    for idx in list(merged_two.index):  
        if station_id == merged_two['stop_id'][idx]:
            trip_ids.append(merged_two['trip_id'][idx])

        no_trip = list()
        valid_trip = list()
    
    for tid in trip_ids:
        subset = merged_two[merged_two.trip_id == tid]
        row_ix = subset.index[subset.stop_id == station_id].tolist()[0] #extraction of row index of closest train station
        origin_seq_no = subset.loc[row_ix]['stop_sequence']  #stop sequence value of closest train station

        for ix in list(subset.index):
            if subset['stop_id'][ix] == 19842:
                dest_seq_no = subset['stop_sequence'][ix] #stop sequence of Melbourne Central

                if origin_seq_no < dest_seq_no:  #comparison of stop sequence values
                    valid_trip.append(tid)
                else:
                    pass
            else:
                no_trip.append(tid)

    travel_time = list()
    
    if len(valid_trip) > 0:
            
        for ix in range(len(valid_trip)):
            df = merged_two[merged_two.trip_id == valid_trip[ix]]

            org_ix = df.index[df.stop_id == station_id].tolist()[0]  #extraction of row index of closest train station
            dest_ix = df.index[df.stop_id == 19842].tolist()[0]  #extraction of row index of MC

            org_dept_time = df.loc[org_ix]['departure_time']  #dept time from closest station
            dest_arr_time = df.loc[dest_ix]['arrival_time']  #arrival time at MC
            
            #time objects for time difference calculation
            t1 = timedelta(hours = int(org_dept_time[:2]), minutes = int(org_dept_time[3:5]), seconds = int(org_dept_time[6:8]))
            t2 = timedelta(hours = int(dest_arr_time[:2]), minutes = int(dest_arr_time[3:5]), seconds = int(dest_arr_time[6:8]))
            diff = t2 - t1  #time difference
            diff_seconds = diff.seconds  #obtained answer is in seconds
            diff_minutes = diff_seconds / 60  #hence, is converted to minutes
            travel_time.append(diff_minutes)
        return str(float(round(sum(travel_time) / len(travel_time))))  #returns rounded travel time in minutes
            
    else:
        return "Not available"

The above function calculates the travel time only for those properties whose closest station isn't the MC. Otherwise, the value will be 0.

In [78]:
for idx in list(df.index):
    sid = df['closest_train_station_id'][idx]
    if sid != 19842:  #if station id not equal to MC's station id
        df.at[idx, 'travel_min_to_MC'] = getTravelTime(sid)
    else:
        df.at[idx, 'travel_min_to_MC'] = "0"

In [79]:
df

,property_id,lat,lng,addr_street,suburb,lga,closest_train_station_id,distance_to_closest_train_station,travel_min_to_MC,direct_journey_flag
0,91099,-37.956402,145.072540,99 Herald Street,CHELTENHAM,YARRA RANGES,19866,1.947320,40.0,-1
1,65182,-37.806590,145.317902,18 Kilsyth Avenue,KILSYTH,SURF COAST,19877,2.478957,46.0,-1
2,17661,-37.698942,144.909829,73 AUGUSTINE TERRACE,GLENROY,WYNDHAM,20031,0.679184,30.0,-1
3,46534,-37.706180,145.139217,125 Ryans Road,ELTHAM NORTH,ARARAT,19987,1.116812,51.0,-1
4,87356,-37.939583,145.014479,133 Thomas Street,HAMPTON,WYNDHAM,19949,1.155951,Not available,-1
...,...,...,...,...,...,...,...,...,...,...
2247,60069,-37.810080,145.200907,5 Tourello Street,MITCHAM,PORT PHILLIP,19900,1.181700,31.0,-1
2248,56038,-37.822793,145.066628,95 Broadway,CAMBERWELL,MELBOURNE,19892,0.371542,18.0,-1
2249,63480,-37.783340,145.287864,13 Aminga Court,CROYDON,CARDINIA,19878,1.490612,42.0,-1
2251,80587,-37.989635,145.171660,9 Wannon Court,KEYSBOROUGH,KINGSTON,19889,2.160029,43.0,-1
2252,28523,-37.798172,144.991745,156 Easey Street,COLLINGWOOD,MOONEE VALLEY,19975,0.262132,18.0,-1

Now, if the travel time value is not '`Not available`', the value '`1`' is assigned to the '`direct_journey_flag`' column (including properties whose closest station is the MC). Otherwise, the value will be '`0`'.

In [80]:
for idx in list(df.index):
    if df['travel_min_to_MC'][idx] == "Not available":
        df.at[idx, 'direct_journey_flag'] = 0
        
    elif df['closest_train_station_id'][idx] == 19842:
        df.at[idx, 'direct_journey_flag'] = 1
        
    else:
        df.at[idx, 'direct_journey_flag'] = 1

In [81]:
df

,property_id,lat,lng,addr_street,suburb,lga,closest_train_station_id,distance_to_closest_train_station,travel_min_to_MC,direct_journey_flag
0,91099,-37.956402,145.072540,99 Herald Street,CHELTENHAM,YARRA RANGES,19866,1.947320,40.0,1
1,65182,-37.806590,145.317902,18 Kilsyth Avenue,KILSYTH,SURF COAST,19877,2.478957,46.0,1
2,17661,-37.698942,144.909829,73 AUGUSTINE TERRACE,GLENROY,WYNDHAM,20031,0.679184,30.0,1
3,46534,-37.706180,145.139217,125 Ryans Road,ELTHAM NORTH,ARARAT,19987,1.116812,51.0,1
4,87356,-37.939583,145.014479,133 Thomas Street,HAMPTON,WYNDHAM,19949,1.155951,Not available,0
...,...,...,...,...,...,...,...,...,...,...
2247,60069,-37.810080,145.200907,5 Tourello Street,MITCHAM,PORT PHILLIP,19900,1.181700,31.0,1
2248,56038,-37.822793,145.066628,95 Broadway,CAMBERWELL,MELBOURNE,19892,0.371542,18.0,1
2249,63480,-37.783340,145.287864,13 Aminga Court,CROYDON,CARDINIA,19878,1.490612,42.0,1
2251,80587,-37.989635,145.171660,9 Wannon Court,KEYSBOROUGH,KINGSTON,19889,2.160029,43.0,1
2252,28523,-37.798172,144.991745,156 Easey Street,COLLINGWOOD,MOONEE VALLEY,19975,0.262132,18.0,1

### 3.5 Covid-19 positive cases

We'll first scrape the given website to extract the required information and store it. BeautifulSoup will be used for doing so, along with the methods/functions offered by the requests and urllib modules.

The information from the column '`CASES`' (in the website) will be extracted, along with the corresponding date from '`DATE`' for each LGA.

The extracted information will be stored in a dictionary.

In [82]:
#addition of new columns with their respective default values
df['30_sep_cases'] = 'Not available'
df['last_14_days_cases'] = 'Not available'
df['last_30_days_cases'] = 'Not available'
df['last_60_days_cases'] = 'Not available'

In [83]:
df

,property_id,lat,lng,addr_street,suburb,lga,closest_train_station_id,distance_to_closest_train_station,travel_min_to_MC,direct_journey_flag,30_sep_cases,last_14_days_cases,last_30_days_cases,last_60_days_cases
0,91099,-37.956402,145.072540,99 Herald Street,CHELTENHAM,YARRA RANGES,19866,1.947320,40.0,1,Not available,Not available,Not available,Not available
1,65182,-37.806590,145.317902,18 Kilsyth Avenue,KILSYTH,SURF COAST,19877,2.478957,46.0,1,Not available,Not available,Not available,Not available
2,17661,-37.698942,144.909829,73 AUGUSTINE TERRACE,GLENROY,WYNDHAM,20031,0.679184,30.0,1,Not available,Not available,Not available,Not available
3,46534,-37.706180,145.139217,125 Ryans Road,ELTHAM NORTH,ARARAT,19987,1.116812,51.0,1,Not available,Not available,Not available,Not available
4,87356,-37.939583,145.014479,133 Thomas Street,HAMPTON,WYNDHAM,19949,1.155951,Not available,0,Not available,Not available,Not available,Not available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2247,60069,-37.810080,145.200907,5 Tourello Street,MITCHAM,PORT PHILLIP,19900,1.181700,31.0,1,Not available,Not available,Not available,Not available
2248,56038,-37.822793,145.066628,95 Broadway,CAMBERWELL,MELBOURNE,19892,0.371542,18.0,1,Not available,Not available,Not available,Not available
2249,63480,-37.783340,145.287864,13 Aminga Court,CROYDON,CARDINIA,19878,1.490612,42.0,1,Not available,Not available,Not available,Not available
2251,80587,-37.989635,145.171660,9 Wannon Court,KEYSBOROUGH,KINGSTON,19889,2.160029,43.0,1,Not available,Not available,Not available,Not available
2252,28523,-37.798172,144.991745,156 Easey Street,COLLINGWOOD,MOONEE VALLEY,19975,0.262132,18.0,1,Not available,Not available,Not available,Not available

#### 3.5.1 Scraping and storing

In each step, we'll try to extract the information stored in the '`href`' tags as these are links that will point to the next required page.

First, we'll send a HTTP request via '`requests.get()`' and check for the response status (using '`status_code`') to confirm that the response has been sent or not.

In [84]:
response = requests.get("https://covidlive.com.au/")

In [85]:
response.status_code  #value is 200, which means everything is fine

200

Using the response received, we'll start extracting the required links that'll point to next required page. Also, the '`re.compile()`' method will be used to search for those links that match the given/specified pattern within the method.

In [86]:
src = response.content

In [87]:
soupObj = BeautifulSoup(src, 'html.parser')  
links = soupObj.find("div", {"class":"box box1"}).findAll("a", href = re.compile("/vic"))  #the div tag and its class id have been obtained by inspecting the website
links

In [88]:
def getLink(links, phrase):
    
    '''
    This function returns the link that includes the specified phrase/text (given as input)
    from a list of links passed as input.
    '''
    
    for link in links:
        if phrase in link.text:
            return link.attrs['href']

In [89]:
result = getLink(links, "Victoria")  #calls the function with list 'links' and phrase 'Victoria' as input
result

'/vic'

In [90]:
src_2 = urlopen("https://covidlive.com.au/" + result) #from the result obtained above, open the specified url

In [91]:
soupObj = BeautifulSoup(src_2, 'html.parser')
links = soupObj.find("div", {"id":"menu-state"}).findAll("a", href =  re.compile("/vic/lga"))  #the div tag and its class id have been obtained by inspection

In [92]:
result = getLink(links, "LGA")  #calls the function with list 'links' and phrase 'LGA' as input
result

'/vic/lga'

In [93]:
src_3 = urlopen("https://covidlive.com.au/" + result)  #from the result obtained above, open the specified url

In [94]:
soupObj = BeautifulSoup(src_3, 'html.parser')
links = soupObj.find("section", {"CASES-BY-LGA MAP-3"}).find("h2").findAll("a")  #section tag and its corresponding class id retrieved by inspection

In [95]:
links

In [96]:
result = getLink(links, "VIC Cases LGA")  #calls the function with list 'links' and phrase 'VIC Cases LGA' as input
result

'/report/cases-by-lga/vic'

In [97]:
src_4 =  urlopen("https://covidlive.com.au/" + result)  #from the result obtained above, open the specified url

In [98]:
soupObj = BeautifulSoup(src_4, 'html.parser')
links = soupObj.find("table", {"CASES-BY-LGA"}).findAll("td", {"class":"COL1 LGA"})  #obtained on inspection, to scrape table data

In [99]:
links

[<td class="COL1 LGA"><a class="metro" href="/vic/casey">Casey</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/greater-dandenong">Greater Dandenong</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/wyndham">Wyndham</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/melton">Melton</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/hume">Hume</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/whittlesea">Whittlesea</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/brimbank">Brimbank</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/moreland">Moreland</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/darebin">Darebin</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/frankston">Frankston</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/melbourne">Melbourne</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/cardinia">Cardinia</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/latrobe">Latrobe</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/glen-eira">Glen Eira</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/moonee-valley">Moonee Valley</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/greater-geelong">Greater Geelong</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/kingston">Kingston</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/monash">Monash</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/maribyrnong">Maribyrnong</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/hobsons-bay">Hobsons Bay</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/greater-shepparton">Greater Shepparton</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/wodonga">Wodonga</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/knox">Knox</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/mornington-peninsula">Mornington Peninsula</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/port-phillip">Port Phillip</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/yarra">Yarra</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/greater-bendigo">Greater Bendigo</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/banyule">Banyule</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/yarra-ranges">Yarra Ranges</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/baw-baw">Baw Baw</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/maroondah">Maroondah</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/manningham">Manningham</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/whitehorse">Whitehorse</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/mildura">Mildura</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/stonnington">Stonnington</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/mitchell">Mitchell</a></td>,
 <td class="COL1 LGA"><a class="other" href="/vic/unknown">Unknown</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/boroondara">Boroondara</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/bayside">Bayside</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/macedon-ranges">Macedon Ranges</a></td>,
 <td class="COL1 LGA"><a class="metro" href="/vic/nillumbik">Nillumbik</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/moorabool">Moorabool</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/wangaratta">Wangaratta</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/ballarat">Ballarat</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/swan-hill">Swan Hill</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/east-gippsland">East Gippsland</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/bass-coast">Bass Coast</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/campaspe">Campaspe</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/golden-plains">Golden Plains</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/south-gippsland">South Gippsland</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/wellington">Wellington</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/surf-coast">Surf Coast</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/benalla">Benalla</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/moira">Moira</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/murrindindi">Murrindindi</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/mount-alexander">Mount Alexander</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/corangamite">Corangamite</a></td>,
 <td class="COL1 LGA"><a class="other" href="/vic/interstate">Interstate</a></td>,
 <td class="COL1 LGA"><a class="other" href="/vic/overseas">Overseas Traveller</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/strathbogie">Strathbogie</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/hepburn">Hepburn</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/central-goldfields">Central Goldfields</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/pyrenees">Pyrenees </a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/indigo">Indigo </a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/loddon">Loddon</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/gannawarra">Gannawarra</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/moyne">Moyne</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/towong">Towong </a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/colac-otway">Colac Otway </a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/mansfield">Mansfield</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/warrnambool">Warrnambool</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/glenelg">Glenelg</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/horsham">Horsham</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/northern-grampians">Northern Grampians</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/queenscliffe">Queenscliffe </a></td>,
 <td class="COL1 LGA"><a class="other" href="/vic/other">Other</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/ararat">Ararat</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/alpine">Alpine</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/southern-grampians">Southern Grampians</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/yarriambiack">Yarriambiack</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/west-wimmera">West Wimmera</a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/buloke">Buloke </a></td>,
 <td class="COL1 LGA"><a class="regional" href="/vic/hindmarsh">Hindmarsh </a></td>]

In [100]:
results = list()
for link in links:
    results.append(link.find("a", href = re.compile("/vic/[a-z]*")))  #extract only a tags with href tags that match the specified pattern and append to list

In [101]:
def openLink(link):
    
    '''
    This function returns the link and the text associated with the link (LGA name).
    '''
    result = link.attrs['href']  
    text = link.text
    return result, text

We'll use the above function to retrieve the link that points to each LGA and use it to extract the relevant table data.

Once the url has been opened, we'll look for all the required table rows based on the tag ('`table`') and its relevant class value ('`DAILY-CASES-BY-LGA`').

We'll extract the table data/text of each row and store its contents in a list named '`content`' and store this in a dictionary named '`t_rows`', with key being the row index (starting from 0) and the value is the content list obtained.

Based on the table headers obtained and stored in the list '`table_headers`', we know what each value in the contents list is supposed to be and so we'll extract only the relevant information, that is the date (index 0) and the cases (index 3) and store them in two lists, '`date`' and '`cases`'. We'll use these lists to create pairs/sublists of the date and corresponding cases and store it in a main list ('`pairs`'). This will be the value to the corresponding key, that is the LGA (obtained from the above function as text) in the '`lga_cases_per_date`' dictionary. The dates will be filtered (based on the month) before they're paired with the cases. The number of cases on 30th September are obtained by subtracting the number of cases in the 0th index and 1st index of the main list (from the dictionary). Similarly, lists that hold the number of cases for the last 14, 30 and 60 days are stored in lists '`last_14_list`', '`last_30_list`' and '`last_60_list`' respectively. These will be used to calculate the rounded average cases (sum of the elements in the list by length of the list, meaning the number of days) in each scenario. The final results are stored in a list, that will be the value to the key (the LGA) in the '`cases_per_lga`' dictionary.

- For the last 14 days, we'll look at cases from 29th September moving back to 16th September (both inclusive).
- For the last 30 days, we'll consider cases from 29th September going back to 31st August (both inclusive).
- For the last 60 days, we'll look at cases from 29th September going back to 1st August (both inclusive).

In [102]:
cases_per_lga = dict()

for idx in range(len(results)):
    result = openLink(results[idx])  #call function to obtain the link and text/phrase
    text = result[1]  #the LGA name
    
    src_5 = urlopen("https://covidlive.com.au/" + result[0])  #open the specified url
    soupObj = BeautifulSoup(src_5, 'html.parser')
    table = soupObj.find("table", {"DAILY-CASES-BY-LGA"}).findAll("tr")
    
    #extraction of table headers
    table_headers = list()

    for th in table[0].findAll("th"):
        table_headers.append(th.text)
    
    
    t_rows = dict()
    
    i = 0
    #extraction of row data
    for ix in range(len(table)):
        content = list()
        for row in table[ix].findAll("td"):
            content.append(row.text)
        t_rows[i] = content
        i += 1
        
    t_rows.pop(0)  #popped the first element since its an empty string
    
    date = []
    cases = []
    #extraction of dates and corresponding cases
    for value in t_rows.values():
        date.append(value[0])
        value[3] = value[3].replace(",", "")  #replacing commas in the cases to later convert into int
        cases.append(int(value[3]))
        
    lga_cases_per_date = dict()
    pairs = list()
    
    for ix in range(len(date)):
        day, month = date[ix].split()  #splitting of date for checking the month
        if month == 'Sep' or month == 'Aug' or date[ix] == "31 Jul":  
            pairs.append([date[ix], cases[ix]])  #date-cases pairs
            
    lga_cases_per_date[text] = pairs  
    
    number_of_cases = dict()  #will store the cases in each scenario for each LGA

    on_30_Sep = lga_cases_per_date[text][0][1] - lga_cases_per_date[text][1][1]  #number of cases added on 30th September

    last_14_list = lga_cases_per_date[text][1:16]  #list of cases in the last 14 days
    last_30_list = lga_cases_per_date[text][1:32]  #list of cases in the last 30 days
    last_60_list = lga_cases_per_date[text][1:]   #list of cases in the last 60 days
    
    
    actual_cases = list()

    for idx in range(len(last_14_list) - 1):
        actual_cases.append(last_14_list[idx][1] - last_14_list[idx + 1][1])
        
    last_14 = float(round(sum(actual_cases) / 14))
    
    actual_cases = list()

    for idx in range(len(last_30_list) - 1):
        actual_cases.append(last_30_list[idx][1] - last_30_list[idx + 1][1])
    
    last_30 = float(round(sum(actual_cases) / 30))
    
    actual_cases = list()

    for idx in range(len(last_60_list) - 1):
        actual_cases.append(last_60_list[idx][1] - last_60_list[idx + 1][1])
        
    last_60 = float(round(sum(actual_cases) / 60))
    
    cases_per_lga[text.upper().strip()] = list()
    cases_per_lga[text.upper().strip()].extend([on_30_Sep, last_14, last_30, last_60])

The dates are in descending order in each list ([29th Sept, 28th Sept, 27th Sept ...]), hence for the number of cases on a particular date, the value is obtained by the subtracting the number of cases on the day you are calculating for and the adjacent date (that comes before it). This gives us the increase in the number of the cases on the present day since the previous day.
- For example, the number of cases on 29th September will be: Cases on 29th - Cases on 28th
- The number of cases on 28th September will be: Cases on 28th - Cases on 27th and so on

The values for '`30_sep_cases`' are calculated on the basis of the same.

In [103]:
table_headers

['DATE', '15+', 'SECOND', 'CASES', 'ACTIVE', 'VAR', 'NET']

In [104]:
cases_per_lga

{'CASEY': [69, 23.0, 14.0, 7.0],
 'GREATER DANDENONG': [36, 10.0, 6.0, 3.0],
 'WYNDHAM': [99, 45.0, 34.0, 20.0],
 'MELTON': [87, 30.0, 19.0, 10.0],
 'HUME': [332, 227.0, 156.0, 80.0],
 'WHITTLESEA': [152, 72.0, 45.0, 23.0],
 'BRIMBANK': [77, 36.0, 21.0, 12.0],
 'MORELAND': [111, 55.0, 48.0, 25.0],
 'DAREBIN': [41, 22.0, 15.0, 8.0],
 'FRANKSTON': [3, 3.0, 2.0, 1.0],
 'MELBOURNE': [23, 12.0, 8.0, 5.0],
 'CARDINIA': [25, 10.0, 5.0, 3.0],
 'LATROBE': [2, 2.0, 1.0, 0.0],
 'GLEN EIRA': [15, 4.0, 2.0, 1.0],
 'MOONEE VALLEY': [41, 18.0, 12.0, 6.0],
 'GREATER GEELONG': [1, 2.0, 2.0, 1.0],
 'KINGSTON': [13, 4.0, 2.0, 1.0],
 'MONASH': [16, 5.0, 3.0, 2.0],
 'MARIBYRNONG': [22, 7.0, 5.0, 3.0],
 'HOBSONS BAY': [20, 15.0, 15.0, 10.0],
 'GREATER SHEPPARTON': [5, 0.0, 2.0, 2.0],
 'WODONGA': [3, 0.0, 0.0, 0.0],
 'KNOX': [23, 5.0, 3.0, 2.0],
 'MORNINGTON PENINSULA': [6, 2.0, 1.0, 1.0],
 'PORT PHILLIP': [25, 9.0, 5.0, 3.0],
 'YARRA': [15, 8.0, 5.0, 3.0],
 'GREATER BENDIGO': [0, 0.0, 0.0, 0.0],
 'BANYULE': [22, 13.0, 7.0, 4.0],
 'YARRA RANGES': [5, 3.0, 2.0, 1.0],
 'BAW BAW': [3, 0.0, 0.0, 0.0],
 'MAROONDAH': [23, 4.0, 2.0, 1.0],
 'MANNINGHAM': [11, 7.0, 4.0, 2.0],
 'WHITEHORSE': [12, 1.0, 1.0, 1.0],
 'MILDURA': [0, 0.0, 0.0, 0.0],
 'STONNINGTON': [19, 4.0, 3.0, 1.0],
 'MITCHELL': [14, 5.0, 3.0, 1.0],
 'UNKNOWN': [17, 2.0, 2.0, 1.0],
 'BOROONDARA': [12, 3.0, 2.0, 1.0],
 'BAYSIDE': [5, 2.0, 1.0, 1.0],
 'MACEDON RANGES': [1, 1.0, 1.0, 0.0],
 'NILLUMBIK': [4, 2.0, 1.0, 1.0],
 'MOORABOOL': [7, 2.0, 1.0, 0.0],
 'WANGARATTA': [0, 0.0, 0.0, 0.0],
 'BALLARAT': [2, 1.0, 1.0, 0.0],
 'SWAN HILL': [1, 0.0, 0.0, 0.0],
 'EAST GIPPSLAND': [1, 0.0, 0.0, 0.0],
 'BASS COAST': [0, 0.0, 0.0, 0.0],
 'CAMPASPE': [0, 0.0, 0.0, 0.0],
 'GOLDEN PLAINS': [0, 0.0, 0.0, 0.0],
 'SOUTH GIPPSLAND': [2, 0.0, 0.0, 0.0],
 'WELLINGTON': [0, 0.0, 0.0, 0.0],
 'SURF COAST': [1, 0.0, 0.0, 0.0],
 'BENALLA': [0, 0.0, 0.0, 0.0],
 'MOIRA': [0, 0.0, 0.0, 0.0],
 'MURRINDINDI': [0, 0.0, 0.0, 0.0],
 'MOUNT ALEXANDER': [0, 0.0, 0.0, 0.0],
 'CORANGAMITE': [0, 0.0, 0.0, 0.0],
 'INTERSTATE': [-1, 0.0, 0.0, 0.0],
 'OVERSEAS TRAVELLER': [0, 0.0, 0.0, 0.0],
 'STRATHBOGIE': [0, 0.0, 0.0, 0.0],
 'HEPBURN': [-1, 0.0, 0.0, 0.0],
 'CENTRAL GOLDFIELDS': [0, 0.0, 0.0, 0.0],
 'PYRENEES': [0, 0.0, 0.0, 0.0],
 'INDIGO': [-1, 0.0, 0.0, 0.0],
 'LODDON': [0, 0.0, 0.0, 0.0],
 'GANNAWARRA': [3, 0.0, 0.0, 0.0],
 'MOYNE': [0, 0.0, 0.0, 0.0],
 'TOWONG': [0, 0.0, 0.0, 0.0],
 'COLAC OTWAY': [1, 0.0, 0.0, 0.0],
 'MANSFIELD': [0, 0.0, 0.0, 0.0],
 'WARRNAMBOOL': [4, 0.0, 0.0, 0.0],
 'GLENELG': [0, 0.0, 0.0, 0.0],
 'HORSHAM': [0, 0.0, 0.0, 0.0],
 'NORTHERN GRAMPIANS': [0, 0.0, 0.0, 0.0],
 'QUEENSCLIFFE': [0, 0.0, 0.0, 0.0],
 'OTHER': [15, 0.0, 0.0, 0.0],
 'ARARAT': [0, 0.0, 0.0, 0.0],
 'ALPINE': [0, 0.0, 0.0, 0.0],
 'SOUTHERN GRAMPIANS': [0, 0.0, 0.0, 0.0],
 'YARRIAMBIACK': [0, 0.0, 0.0, 0.0],
 'WEST WIMMERA': [0, 0.0, 0.0, 0.0],
 'BULOKE': [0, 0.0, 0.0, 0.0],
 'HINDMARSH': [0, 0.0, 0.0, 0.0]}

#### 3.5.2 '30_sep_cases', 'last_14_days_cases', 'last_30_days_cases' and 'last_60_days_cases' columns

Using the '`cases_per_lga`' dictionary, the values for each property are added.

To avoid problems while updating the values due to inconsistencies in the names of LGA (for example, COLAC OTWAY and COLAC-OTWAY), regex and its methods are being used to verify if they are the same or not and then update the value.

The pattern '`[A-Z]+\W[A-Z]+`' matches words/LGA names (in uppercase) that have been separated by a non-alphanumeric character ('`\W`' matches characters like whitespaces, hyphens etc).

In [105]:
for idx in list(df.index):
    pattern = re.compile(r"[A-Z]+\W[A-Z]+")  
    row_lga = df['lga'][idx]
    
    #if LGA matches pattern, it is split
    if re.match(pattern, row_lga):  
        result_lga_one = re.split(r"\W", row_lga)
        lga_list = list(cases_per_lga.keys())
        
        #and verified with the LGAs (that match the pattern) present in the dictionary
        for lga in lga_list:
            if re.match(pattern, lga):
                result_lga_two = re.split(r"\W", lga)
                
                if result_lga_one == result_lga_two: #if they're the same, update the values
                    
                    df.at[idx, '30_sep_cases'] = str(cases_per_lga[lga][0])
                    df.at[idx, 'last_14_days_cases'] = str(cases_per_lga[lga][1])
                    df.at[idx, 'last_30_days_cases'] = str(cases_per_lga[lga][2])
                    df.at[idx, 'last_60_days_cases'] = str(cases_per_lga[lga][3])
        
    
    else:
        df.at[idx, '30_sep_cases'] = str(cases_per_lga[df['lga'][idx]][0])
        df.at[idx, 'last_14_days_cases'] = str(cases_per_lga[df['lga'][idx]][1])
        df.at[idx, 'last_30_days_cases'] = str(cases_per_lga[df['lga'][idx]][2])
        df.at[idx, 'last_60_days_cases'] = str(cases_per_lga[df['lga'][idx]][3])

In [106]:
df

,property_id,lat,lng,addr_street,suburb,lga,closest_train_station_id,distance_to_closest_train_station,travel_min_to_MC,direct_journey_flag,30_sep_cases,last_14_days_cases,last_30_days_cases,last_60_days_cases
0,91099,-37.956402,145.072540,99 Herald Street,CHELTENHAM,YARRA RANGES,19866,1.947320,40.0,1,5,3.0,2.0,1.0
1,65182,-37.806590,145.317902,18 Kilsyth Avenue,KILSYTH,SURF COAST,19877,2.478957,46.0,1,1,0.0,0.0,0.0
2,17661,-37.698942,144.909829,73 AUGUSTINE TERRACE,GLENROY,WYNDHAM,20031,0.679184,30.0,1,99,45.0,34.0,20.0
3,46534,-37.706180,145.139217,125 Ryans Road,ELTHAM NORTH,ARARAT,19987,1.116812,51.0,1,0,0.0,0.0,0.0
4,87356,-37.939583,145.014479,133 Thomas Street,HAMPTON,WYNDHAM,19949,1.155951,Not available,0,99,45.0,34.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2247,60069,-37.810080,145.200907,5 Tourello Street,MITCHAM,PORT PHILLIP,19900,1.181700,31.0,1,25,9.0,5.0,3.0
2248,56038,-37.822793,145.066628,95 Broadway,CAMBERWELL,MELBOURNE,19892,0.371542,18.0,1,23,12.0,8.0,5.0
2249,63480,-37.783340,145.287864,13 Aminga Court,CROYDON,CARDINIA,19878,1.490612,42.0,1,25,10.0,5.0,3.0
2251,80587,-37.989635,145.171660,9 Wannon Court,KEYSBOROUGH,KINGSTON,19889,2.160029,43.0,1,13,4.0,2.0,1.0
2252,28523,-37.798172,144.991745,156 Easey Street,COLLINGWOOD,MOONEE VALLEY,19975,0.262132,18.0,1,41,18.0,12.0,6.0

## 4. Summary

This assessment measured the understanding of importance of integrating data from various sources effectively. The main outcomes achieved include:

- **Data Integration**: Using various libraries and packages helped in integrating data from several sources to create a dataframe.
- **Issues of data integration**: With the help of various methods available, it was possible to detect any issues before and after integration of the data.

## 5. References

- GeoPandas Project. (2021). *geopandas 0.10.0 documentation.* Retrieved from https://geopandas.org/index.html
- Edmilson Junior. (2016, July 7). *subtract two times in python* [Response to]. Retrieved from https://stackoverflow.com/questions/5259882/subtract-two-times-in-python
- Henrikki Tenkanen. (2018). *Intro to Python GIS: Point in Polygon & Intersect.* Retrieved from https://automating-gis-processes.github.io/CSC18/lessons/L4/point-in-polygon.html